@charset "UTF-8";
/*
* Author          : AHM Yousuf Niran
* Author URL      : http://niranyousuf.me/
* Version         : 1.1.1
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"), url("../fonts/Satoshi-Regular.woff") format("woff"), url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"), url("../fonts/Satoshi-Light.woff") format("woff"), url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"), url("../fonts/Satoshi-Medium.woff") format("woff"), url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?59603333");
  src: url("../fonts/fontello.eot?59603333#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?59603333") format("woff2"), url("../fonts/fontello.woff?59603333") format("woff"), url("../fonts/fontello.ttf?59603333") format("truetype"), url("../fonts/fontello.svg?59603333#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e800";
} /* '' */
.icon-edit:before {
  content: "\e801";
} /* '' */
.icon-location:before {
  content: "\e802";
} /* '' */
.icon-right:before {
  content: "\e803";
} /* '' */
.icon-arrow-right:before {
  content: "\e804";
} /* '' */
.icon-trash-empty:before {
  content: "\e805";
} /* '' */
.icon-thumbs-up:before {
  content: "\e806";
} /* '' */
.icon-right-open:before {
  content: "\e809";
} /* '' */
.icon-ok:before {
  content: "\e80b";
} /* '' */
.icon-cancel:before {
  content: "\e80c";
} /* '' */
.icon-home:before {
  content: "\e80d";
} /* '' */
.icon-search:before {
  content: "\e80f";
} /* '' */
.icon-x:before {
  content: "\e814";
} /* '' */
.icon-spin6:before {
  content: "\e839";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-facebook:before {
  content: "\f09a";
} /* '' */
.icon-menu:before {
  content: "\f0c9";
} /* '' */
.icon-linkedin:before {
  content: "\f0e1";
} /* '' */
.icon-angle-double-right:before {
  content: "\f101";
} /* '' */
.icon-unlink:before {
  content: "\f127";
} /* '' */
.icon-thumbs-up-alt:before {
  content: "\f164";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-wordpress:before {
  content: "\f19a";
} /* '' */
.icon-github-squared:before {
  content: "\f300";
} /* '' */
body {
  font-family: "Satoshi", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 86rem;
  padding: 0 1.5rem;
}
@media (min-width: 768.98px) {
  .container {
    padding: 0 2.75rem;
  }
}
@media (min-width: 1024.98px) {
  .container {
    padding: 0 4rem;
    max-width: 64rem;
    margin: 0 auto;
  }
}
@media (min-width: 1200.98px) {
  .container {
    padding: 0 5rem;
    margin: 0 auto;
    max-width: 75rem;
  }
}
@media (min-width: 1536.98px) {
  .container {
    padding: 0 5rem;
    margin: 0 auto;
    max-width: 86rem;
  }
}
@media (min-width: 1680.98px) {
  .container {
    padding: 0 5rem;
    margin: 0 auto;
    max-width: 100rem;
  }
}
.container-alt {
  margin: 0 auto;
}
@media (min-width: 768.98px) {
  .container-alt {
    padding: 0 2.75rem;
  }
}
@media (min-width: 1024.98px) {
  .container-alt {
    padding: 0 4rem;
  }
}
@media (min-width: 1536.98px) {
  .container-alt {
    padding: 0 5rem;
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-left {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-right {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.loaded .in-view .slide-down, .loaded .in-view.slide-down,
.loaded .in-view .slide-up, .loaded .in-view.slide-up {
  opacity: 1;
  transform: translateY(0px);
}
.loaded .in-view .slide-left, .loaded .in-view.slide-left,
.loaded .in-view .slide-right, .loaded .in-view.slide-right {
  opacity: 1;
  transform: translateX(0px);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Ripple Out */
@keyframes rippleOut {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 01. all default and common styles */
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Satoshi", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  line-height: 1.4;
}
@media (min-width: 768px) {
  body.admin-bar header {
    margin-top: 32px;
  }
}
body.no-scroll {
  overflow: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
div,
span,
header,
footer,
button,
article,
section {
  margin: 0;
  padding: 0;
  color: #141c3a;
}

h2 {
  font-size: clamp(2rem, 8vw, 2.75rem);
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: "Oswald", serif;
}
h2.block_title {
  font-size: clamp(2rem, 8vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  line-height: normal;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-family: "Oswald", serif;
}

h4 {
  color: #000000;
  font-size: clamp(1.2rem, 2vw, 1.75rem);
  line-height: normal;
  margin-bottom: 15px;
}

h5 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin-bottom: 10px;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

ul,
ol,
li {
  list-style: none;
}

embed,
img {
  width: 100%;
}

.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

/* Secions */
.section-padding {
  padding-top: 100px;
  padding-bottom: 70px;
}
.section-padding:nth-of-type(odd) {
  background-color: #fdfdfd;
}

.section-title {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
  margin-bottom: 72px;
}
.section-title h2 {
  font-weight: 600;
}
.section-title p {
  margin-bottom: 36px;
}

/* all anchor tag with button link */
a {
  font-weight: 400;
  transition: all 300ms ease;
  text-decoration: none;
}
a.active, a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

/* 02. Navigation var styles */
nav.navbar {
  padding: 6px 0;
  background-color: transparent;
  position: relative;
  /* Medium devices (tablets, 992px and up) */
}
nav.navbar::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  transition: all 500ms ease !important;
  opacity: 0;
}
nav.navbar .navbar-brand {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
nav.navbar .navbar-brand span {
  font-weight: 300;
}
nav.navbar .navbar-brand img {
  height: 50px;
  margin-top: -6px;
}
nav.navbar .navbar-brand svg {
  height: 46px;
  width: 200px;
}
nav.navbar.sticky {
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: transparent;
}
nav.navbar.sticky::after {
  opacity: 1;
}
nav.navbar .menu_group {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav.navbar .main_menu .navBar {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
nav.navbar .main_menu .navBar li {
  position: relative;
  display: inline-block;
}
nav.navbar .main_menu .navBar li a {
  display: block;
  font-size: 18px;
  padding: 6px 10px;
  transition: all ease 300ms;
  text-transform: capitalize;
}
nav.navbar .main_menu .navBar li a.active, nav.navbar .main_menu .navBar li a:hover {
  color: #ffffff;
}
nav.navbar .main_menu .navBar li.current-menu-item a {
  color: #ffffff;
}
nav.navbar .main_menu .navBar li:hover::after {
  color: #ffffff;
  transform: rotate(-90deg);
}
nav.navbar .main_menu .navBar li:hover > a {
  color: #ffffff;
}
nav.navbar .main_menu .mobile_logo_closeButton {
  display: none;
}
nav.navbar .user_menu .user-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav.navbar .user_menu .user-nav li {
  display: inline;
}
nav.navbar .user_menu .user-nav li .btn-mini {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: all 200ms ease;
}
nav.navbar .user_menu .user-nav li .btn-mini.bg_sec {
  background-color: #141c3a;
}
nav.navbar .user_menu .user-nav li .btn-mini:hover {
  background-color: #141c3a;
}
nav.navbar .user_menu .user-nav li .btn-mini span.user_avatar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
nav.navbar .user_menu .user-nav li .btn-mini span.user_avatar img {
  height: 100%;
  width: auto;
}
nav.navbar .user_menu .user-nav li .btn-mini span.btn_text {
  padding-left: 30px;
  color: #ffffff;
}
nav.navbar .navbar-toggler {
  right: 10px;
  width: 46px;
  height: 42px;
  display: none;
  padding: 5px 7px;
  position: absolute;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  border: none;
}
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler span.bar {
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background: #ffffff;
}
@media (max-width: 992px) {
  nav.navbar .navbar-toggler {
    display: grid;
  }
  nav.navbar .main_menu {
    right: -110%;
    opacity: 0;
    top: 0;
    width: 375px;
    padding: 30px;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    background-color: #333;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 500ms ease;
    scrollbar-width: thin !important;
    scrollbar-color: #4e4e4e transparent !important;
  }
  nav.navbar .main_menu::-webkit-scrollbar {
    width: 7px !important;
    height: 45px !important;
  }
  nav.navbar .main_menu::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  nav.navbar .main_menu::-webkit-scrollbar-thumb {
    background-color: #4e4e4e !important;
  }
  nav.navbar .main_menu::-webkit-scrollbar-track, nav.navbar .main_menu::-webkit-scrollbar-thumb {
    border-radius: 12px !important;
  }
  nav.navbar .main_menu.open_menu {
    right: 0;
    opacity: 1;
  }
  nav.navbar .main_menu .mobile_logo_closeButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  }
  nav.navbar .main_menu .mobile_logo_closeButton .logo img {
    width: 100%;
  }
  nav.navbar .main_menu .mobile_logo_closeButton .logo a {
    font-size: 32px;
    color: #ffffff;
  }
  nav.navbar .main_menu .mobile_logo_closeButton .logo a span {
    color: #ffffff;
    font-weight: 300;
  }
  nav.navbar .main_menu .mobile_logo_closeButton .close_menu {
    width: 35px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #fff;
    outline: none;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    position: relative;
    background: transparent;
    padding: 0 !important;
  }
  nav.navbar .main_menu .mobile_logo_closeButton .close_menu::after, nav.navbar .main_menu .mobile_logo_closeButton .close_menu::before {
    left: 50%;
    top: 50%;
    width: 2px;
    content: "";
    height: 70%;
    position: absolute;
    border-radius: 3px;
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  nav.navbar .main_menu .mobile_logo_closeButton .close_menu::after {
    height: 2px;
    width: 70%;
  }
  nav.navbar .main_menu .mobile_logo_closeButton .close_menu:focus {
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
  }
  nav.navbar .main_menu .navBar {
    display: flex !important;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  nav.navbar .main_menu .navBar li {
    display: block !important;
    position: relative;
    padding: 8px 0;
    width: 100%;
    border-bottom: 0.3px solid #5e5e5e;
  }
  nav.navbar .main_menu .navBar li:last-child {
    border: none;
  }
  nav.navbar .main_menu .navBar li:hover > a {
    background-color: #11103a;
    color: #ffffff !important;
  }
  nav.navbar .main_menu .navBar li::after {
    color: #ffffff;
  }
  nav.navbar .main_menu .navBar li a {
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
  }
}/*# sourceMappingURL=style.css.map */