@charset "UTF-8";
/*
* Author          : A.H.M. Yousuf Niran
* Version         : 1.1
* Url             : http://niranyousuf.me/
*/
/* 01. all default and common styles */
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  line-height: 1.4;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
div,
span,
header,
footer,
button,
article,
section {
  margin: 0;
  padding: 0;
  color: #141c3a;
}

h2 {
  font-size: clamp(2rem, 8vw, 3rem);
  margin-bottom: 36px;
  font-weight: 700;
  font-family: "Miriam Libre", sans-serif;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  line-height: normal;
  margin-bottom: 28px;
  font-weight: 700;
}

h4 {
  color: #000000;
  font-size: clamp(1.2rem, 2vw, 1.75rem);
  line-height: normal;
  margin-bottom: 15px;
  font-weight: 700;
}

h5 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Miriam Libre", sans-serif;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

ul,
ol,
li {
  list-style: none;
}

embed,
img {
  width: 100%;
}

.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

/* Secions */
.section-padding {
  padding-top: 80px;
  padding-bottom: 50px;
}

.section-padding:nth-of-type(odd) {
  background: rgba(250, 250, 250, 0.3);
}

.section-title {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

.section-title p {
  margin-bottom: 36px;
}

.max_container {
  max-width: 960px;
  margin: 0 auto;
}

/* all anchor tag with button link */
a {
  font-weight: 400;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
  color: #6371c5;
}

a.active, a:hover {
  color: #141c3a;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a.btn {
  color: #ffffff;
  min-width: 210px;
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #19B6F6;
  background-color: #19B6F6;
}

a.btn:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a.btn:hover {
  color: #19B6F6;
  text-decoration: none;
  border: 1px solid #19B6F6;
}

a.btn-outline {
  font-size: 22px;
  border-radius: 3px;
  padding: 10px 25px;
  margin-bottom: 20px;
  color: #19B6F6;
  background: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #19B6F6;
}

a.btn-small {
  color: #ffffff;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #19B6F6;
  background-color: #19B6F6;
}

@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?59603333");
  src: url("../font/fontello.eot?59603333#iefix") format("embedded-opentype"), url("../font/fontello.woff2?59603333") format("woff2"), url("../font/fontello.woff?59603333") format("woff"), url("../font/fontello.ttf?59603333") format("truetype"), url("../font/fontello.svg?59603333#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: '\e800';
}

/* '' */
.icon-wrench:before {
  content: '\e801';
}

/* '' */
.icon-location:before {
  content: '\e802';
}

/* '' */
.icon-globe:before {
  content: '\e803';
}

/* '' */
.icon-html5:before {
  content: '\e804';
}

/* '' */
.icon-feather:before {
  content: '\e805';
}

/* '' */
.icon-briefcase:before {
  content: '\e806';
}

/* '' */
.icon-flow-branch:before {
  content: '\e807';
}

/* '' */
.icon-cog-alt:before {
  content: '\e808';
}

/* '' */
.icon-right-open:before {
  content: '\e809';
}

/* '' */
.icon-wrench-2:before {
  content: '\e80a';
}

/* '' */
.icon-ok:before {
  content: '\e80b';
}

/* '' */
.icon-cancel:before {
  content: '\e80c';
}

/* '' */
.icon-home:before {
  content: '\e80d';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-facebook:before {
  content: '\f09a';
}

/* '' */
.icon-menu:before {
  content: '\f0c9';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.icon-upload-cloud:before {
  content: '\f0ee';
}

/* '' */
.icon-angle-double-right:before {
  content: '\f101';
}

/* '' */
.icon-desktop:before {
  content: '\f108';
}

/* '' */
.icon-unlink:before {
  content: '\f127';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-wordpress:before {
  content: '\f19a';
}

/* '' */
.icon-git:before {
  content: '\f1d3';
}

/* '' */
.icon-github-squared:before {
  content: '\f300';
}

/* '' */
/* 02. Navigation var styles */
nav.navbar {
  padding: 15px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

nav.navbar .navbar-brand {
  font-size: 30px;
  font-weight: 500;
}

nav.navbar .navbar-brand span {
  font-weight: 300;
}

nav.navbar .navbar-brand img {
  height: 50px;
  margin-top: -6px;
}

nav.navbar .navbar-toggler {
  padding: 3px 6px;
  border-radius: 3px;
}

nav.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Navigation menu */
#main_menu .navbar-nav {
  margin-left: auto;
}

/* Sticky Menu */
nav.navbar.sticky {
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
}

/* 03. Hero section style */
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 150px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  background: #fbfbfb;
}

@media (max-width: 1191px) {
  #hero {
    padding: 190px 0px 150px;
  }
}

@media (max-width: 767px) {
  #hero {
    padding: 160px 0px 100px;
  }
}

#hero h1 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  letter-spacing: -0.045em;
  font-size: clamp(2.5rem, 4.6875vw, 4.5rem);
  font-family: "Miriam Libre", sans-serif;
}

#hero p {
  margin-bottom: 40px;
  font-size: 22px;
}

.page-banner {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-banner .banner-content h2 {
  margin-bottom: 24px;
}

.page-banner .banner-content p {
  max-width: 750px;
}

.news-and-events {
  position: relative;
  padding-bottom: 80px;
}

.news-and-events .latest {
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768.98px) {
  .news-and-events .latest {
    margin-bottom: 60px;
  }
}

.news-and-events .latest h3 {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.news-and-events .latest .latest-details {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  padding-left: 130px;
  margin-bottom: 24px;
}

.news-and-events .latest .latest-details .latest-date {
  left: 0;
  font-size: 28px;
  font-weight: 500;
  padding: 12px 22px;
  border-radius: 4px;
  position: absolute;
  background-color: rgba(253, 218, 145, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-and-events .latest .latest-details .latest-date > span {
  line-height: 1;
}

.news-and-events .latest .latest-details .latest-date > span.latest-month {
  font-weight: 300;
  margin-bottom: 5px;
}

.news-and-events .latest .latest-details .latest-date > span.latest-day {
  font-weight: 500;
}

.news-and-events .latest .latest-details .latest-content h5 {
  font-weight: 500;
}

.news-and-events .latest.latest-news {
  position: relative;
}

.news-and-events .latest.latest-news::after {
  position: absolute;
  content: "";
  height: 100vh;
  width: 50vw;
  background-color: rgba(25, 182, 246, 0.05);
  left: -15px;
  bottom: -110px;
  z-index: -1;
}

.news-and-events .latest.latest-news .latest-details .latest-date {
  background-color: rgba(25, 182, 246, 0.2);
}

/* 03. Testimonials style */
.testimonials {
  position: relative;
}

.testimonials .single-slide {
  padding: 130px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials .single-slide .slide-content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
}

.testimonials .single-slide .slide-content h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.testimonials .single-slide .slide-content p {
  color: #ffffff;
  margin-bottom: 15px;
}

.testimonials .owl-dots {
  position: absolute;
  width: 100%;
  top: 50px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .owl-dots button.owl-dot {
  height: 10px;
  aspect-ratio: 1;
  background-color: #ffffff;
  border-radius: 50%;
}

.testimonials .owl-dots button.owl-dot:hover, .testimonials .owl-dots button.owl-dot.active {
  opacity: 0.5;
}

/* 08. Blog page and blog section style */
.content {
  padding: 80px 0;
  position: relative;
}

.content .metabox {
  background-color: #faf0ca;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
}

.content .metabox.meta_bradcumb {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}

.content .metabox.meta_bradcumb .back_to_prev_page {
  background-color: #0d3b66;
  color: #ffffff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px 0 0 3px;
  font-weight: normal;
}

.content .metabox.meta_bradcumb .back_to_prev_page .icon {
  color: #ffffff;
}

.content .metabox.meta_bradcumb .current_page {
  padding: 10px 15px 10px 11px;
  color: #6371c5;
}

.content .page_links {
  position: relative;
  z-index: 1;
  background-color: #faf0ca;
  margin: 0 0 40px 0;
}

@media (min-width: 767px) {
  .content .page_links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right;
  }
}

.content .page_links .page__title {
  margin: 0;
  font-weight: normal;
  text-align: center;
  padding: 20px 0;
  background-color: #0d3b66;
  color: #ffffff;
  font-size: 24px;
}

.content .page_links .page__title a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0d3b66;
}

.content .page_links .min_list {
  margin: 0;
  padding: 0;
}

.content li {
  border-top: 1px solid #f4de89;
  display: block;
  text-align: center;
  padding: 17px 10px;
  text-decoration: none;
  color: #0d3b66;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content li:first-child {
  border-top: none;
}

.content li.current_page_item {
  text-align: center;
  background-color: #f4e6b1;
  color: #6371c5;
  font-weight: bold;
}

.content .generic-content p,
.content .generic-content li {
  font-size: 1.15rem;
}

/* 10. Footer styles */
.widgets-featured-img .post-thumbnail img {
  height: auto;
  min-width: 94px;
  border-radius: 4px;
  width: 100px;
}

.widgets-post-content {
  position: relative;
  top: -5px;
}

.widget-post {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-post span {
  font-size: 14px;
  color: #7c7c7c;
  line-height: 36px;
}

.widget-post .post-title {
  font-size: 16px;
  color: #000000;
  line-height: 1.3;
  letter-spacing: normal;
  max-width: 350px;
  margin-bottom: 0;
}

.widget-post .post-title:hover {
  color: #19B6F6;
}

.widget-post .post-title a {
  color: inherit;
  font-size: 16px;
}

footer {
  z-index: 1;
  overflow: hidden;
  padding-top: 120px;
  position: relative;
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  footer {
    padding-top: 150px;
  }
}

footer hr {
  margin-top: 25px;
  border-color: rgba(0, 0, 0, 0.1);
}

footer img {
  max-width: 100% !important;
}

footer.black_bg {
  background-color: #111;
}

footer.black_bg h1,
footer.black_bg h2,
footer.black_bg h3,
footer.black_bg h4,
footer.black_bg h5,
footer.black_bg h6,
footer.black_bg p {
  color: #ffffff;
}

footer.black_bg .footer-widgets .single-footer-wid ul li a {
  color: #cccccc;
}

@media (max-width: 991px) {
  footer .footer-widgets .single-footer-wid {
    margin-top: 30px;
  }
}

footer .footer-widgets .single-footer-wid .widget-title h4 {
  font-size: 26px;
  text-align: left;
  font-weight: 600;
  line-height: 56px;
}

footer .footer-widgets .single-footer-wid ul {
  list-style: none;
}

footer .footer-widgets .single-footer-wid ul li a {
  display: block;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 10px;
  color: #000000;
}

footer .footer-widgets .single-footer-wid ul li a:hover {
  color: #19B6F6;
  padding-left: 5px;
}

footer .footer-widgets .site-info {
  margin-top: 30px;
}

footer .footer-widgets .site-info a {
  font-size: 32px;
  font-weight: 600;
}

footer .footer-widgets .site-info a img {
  height: 35px;
  width: auto !important;
}

footer .footer-widgets .site-info p {
  color: #000000;
  font-size: 18px;
}

footer .footer-widgets .site-info .social-link {
  margin-top: 25px;
}

@media (max-width: 768.98px) {
  footer .footer-widgets .site-info .social-link {
    margin-bottom: 30px;
  }
}

footer .footer-widgets .site-info .social-link a {
  width: 32px;
  height: 32px;
  color: #222;
  margin: 0px 5px;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  background-color: #ffffff;
  border: 0.031rem solid rgba(51, 51, 51, 0.13);
}

footer .footer-widgets .site-info .social-link a .fb {
  color: #1976d2;
}

footer .footer-widgets .site-info .social-link a .tw {
  color: #03a9f4;
}

footer .footer-widgets .site-info .social-link a .in {
  color: #3886b2;
}

footer .footer-widgets .site-info .social-link a .yt {
  color: #c6484f;
}

footer .footer-widgets .site-info .social-link a:nth-of-type(1) {
  margin-left: 0;
}

footer .footer-widgets .site-info .social-link a:hover {
  background-color: #333333;
}

footer .footer-widgets .site-info .social-link a:hover .icon::before {
  color: #ffffff;
}

/* SASS and Global'ish Stuff */
body {
  color: #333;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #0D3B66;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.container--narrow {
  max-width: 960px;
}

.section-break {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.p-top-small {
  padding-top: 1rem;
}

.p-top-large {
  padding-top: 1.6rem;
}

.p-bottom-large {
  padding-bottom: 1.6rem;
}

@media (min-width: 530px) {
  .p-top-large {
    padding-top: 3.5rem;
  }
  .p-bottom-large {
    padding-bottom: 3.5rem;
  }
}

.no-margin {
  margin: 0;
}

.nu {
  text-decoration: none;
}

.nu:hover {
  text-decoration: underline;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-small {
  font-size: 0.85rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.push-right {
  margin-right: 20px;
}

.container:before,
.container:after,
.group:before,
.group:after {
  content: " ";
  display: table;
}

.container:after,
.group:after {
  clear: both;
}

.hide {
  display: none;
}

/* BEM Blocks */
.remove-favorite {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #999;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 3px;
}

.remove-favorite:hover {
  background-color: #dedede;
}

.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

@media (min-width: 530px) {
  .page-section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.page-section--white {
  background-color: #fff;
}

.page-section--beige {
  background-color: #FAF0CA;
}

.page-section p:last-of-type {
  margin-bottom: 0;
}

.school-logo-text {
  position: relative;
  z-index: 20;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 100;
}

.school-logo-text strong {
  font-weight: 400;
}

.school-logo-text a {
  color: #fff;
  text-decoration: none;
}

.school-logo-text--alt-color a {
  color: #666;
}

.school-logo-text--alt-color a:hover {
  color: #0D3B66;
  text-decoration: underline;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader {
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.c-orange {
  color: #F95738;
}

.c-blue {
  color: #0D3B66;
}

.c-white {
  color: #fff;
}

.c-dark {
  color: #333;
}

.gray {
  color: #999999;
}

.search-trigger {
  display: none;
  color: #fff;
  position: relative;
  cursor: pointer;
  top: 1px;
  margin-left: 20px;
}

@media (min-width: 960px) {
  .search-trigger {
    display: inline-block;
    top: 6px;
  }
}

.search-trigger:hover {
  opacity: 0.65;
}

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.social-icons-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 8px;
}

.social-icons-list li a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
}

.social-icons-list li a:hover {
  opacity: 0.75;
}

.social-color-facebook {
  background-color: #4862a3;
}

.social-color-twitter {
  background-color: #55acee;
}

.social-color-youtube {
  background-color: #cc1e1f;
}

.social-color-linkedin {
  background-color: #0077b5;
}

.social-color-instagram {
  background-color: #d8226b;
}

.nav-list ul {
  padding: 0;
  margin: 0;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  font-size: 0.9rem;
  color: #999;
  text-decoration: none;
}

.nav-list a:hover {
  color: #0D3B66;
  text-decoration: underline;
}

.one-half,
.one-third,
.one-fourth,
.one-fifth,
.one-sixth {
  padding-bottom: 1.6rem;
}

@media (min-width: 960px) {
  .row {
    margin-right: -50px;
  }
  .one-half,
  .one-third,
  .two-thirds,
  .one-fourth,
  .one-fifth,
  .one-sixth {
    padding-bottom: 0;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 50px;
  }
  .two-thirds {
    width: 66.66%;
  }
  .one-half {
    width: 50%;
  }
  .one-third {
    width: 33.33%;
  }
  .one-quarter {
    width: 25%;
  }
  .one-fifth {
    width: 20%;
  }
  .one-sixth {
    width: 16.66%;
  }
}

/* Make Top WP Admin Bar Fixed on Mobile */
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

/* Seach Form */
.search-form {
  background-color: #dedede;
  padding: 20px;
  text-align: center;
}

.search-form label {
  display: block;
}

.search-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form .s {
  min-width: 20px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

@media (min-width: 530px) {
  .search-form .s {
    font-size: 1.4rem;
  }
}

.search-submit {
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #0D3B66;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
  margin-left: 10px;
}

.note-limit-message {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #c32929;
  font-weight: bold;
}

.note-limit-message.active {
  visibility: visible;
  opacity: 1;
}

/* Like Box */
.generic-content .like-box {
  float: right;
  font-size: 1rem;
  background-color: #ededed;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: red;
  padding: 10px 10px 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0 30px 30px;
  position: relative;
}

.generic-content .like-box:hover {
  background-color: #dedede;
}

.like-count {
  padding-left: 10px;
}

.like-box .fa-heart-o {
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  position: absolute;
  left: 10px;
}

.like-box .fa-heart {
  left: 10px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: absolute;
  visibility: hidden;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
}

.like-box[data-exists="yes"] .fa-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.like-box[data-exists="yes"] .fa-heart-o {
  visibility: hidden;
  opacity: 0;
}

/* Customize Login Screen */
body.login .button-primary {
  background-color: #F95738;
  border-color: #f83e1a;
  text-shadow: 0 -1px 1px #f8320c, 1px 0 1px #f8320c, 0 1px 1px #f8320c, -1px 0 1px #f8320c;
  -webkit-box-shadow: 0 1px 0 #ed2c07;
          box-shadow: 0 1px 0 #ed2c07;
}

body.login .button-primary:active,
body.login .button-primary:focus,
body.login .button-primary:hover {
  background-color: #f8411d;
  border-color: #F95738;
  text-shadow: 0 -1px 1px #ed2c07, 1px 0 1px #ed2c07, 0 1px 1px #ed2c07, -1px 0 1px #ed2c07;
  -webkit-box-shadow: 0 1px 0 #de2907;
          box-shadow: 0 1px 0 #de2907;
}

body.login {
  background-color: #FAF0CA;
}

.login h1 a {
  color: #0D3B66;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1.19rem;
  padding: 12px 24px;
  border: none;
  outline: none;
}

.btn--small {
  font-size: 0.88rem;
  padding: 7px 13px;
  font-weight: 300;
}

.btn--with-photo {
  padding-left: 40px;
  position: relative;
}

.btn--orange {
  background-color: #EE964B;
}

.btn--orange:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#EE964B), to(#eb6c00));
  background: linear-gradient(#EE964B, #eb6c00);
}

.btn--dark-orange {
  background-color: #F95738;
}

.btn--dark-orange:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F95738), to(#c62000));
  background: linear-gradient(#F95738, #c62000);
}

.btn--blue {
  background-color: #0D3B66;
}

.btn--blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#12518d), to(#0D3B66));
  background: linear-gradient(#12518d, #0D3B66);
}

.btn--yellow {
  background-color: #F4D35E;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
}

.btn--yellow:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4D35E), to(#f0bb00));
  background: linear-gradient(#F4D35E, #f0bb00);
}

.btn--beige {
  background-color: #FAF0CA;
  color: #173f58;
}

.btn--beige:hover {
  background-color: #F4D35E;
}

.btn--gray {
  background-color: #222;
}

.btn--white {
  background-color: #fff;
  color: #173f58;
}

.btn--white:hover {
  background-color: #ddd;
}

.btn--large {
  font-size: 1.3rem;
  padding: 16px 34px;
  border-radius: 7px;
}

@media (min-width: 530px) {
  .btn--large {
    font-size: 1.9rem;
  }
}

.btn--inactive {
  background-color: transparent;
  cursor: default;
  color: #333;
}

/* My Notes */
.edit-note,
.delete-note,
.submit-note {
  font-size: 0.9rem;
  background-color: #eee;
  padding: 8px 16px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-note {
  color: #fff;
  border: none;
  background-color: #F95738;
  line-height: 1.65;
}

.submit-note:hover {
  background-color: #dd3f21;
}

@media (min-width: 635px) {
  .edit-note,
  .delete-note {
    position: relative;
    top: -12px;
  }
}

.edit-note:hover,
.delete-note:hover {
  background-color: #ddd;
}

.delete-note {
  color: red;
}

.update-note {
  visibility: hidden;
}

.update-note--visible {
  visibility: visible;
}

.note-title-field {
  width: 40%;
  font-size: 1.85rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: #0D3B66;
  border: 1px solid transparent;
  padding: 7px;
  outline: none;
  position: relative;
  top: 1px;
}

@media (max-width: 400px) {
  .note-title-field {
    width: 100%;
  }
}

@media (min-width: 635px) {
  .note-title-field {
    width: 65%;
    font-size: 3.125rem;
  }
}

.note-body-field {
  color: #333;
  font-family: "Roboto", sans-serif;
  resize: none;
  display: block;
  width: 100%;
  line-height: 1.65;
  font-size: 1.15rem;
  padding: 7px;
  border: 1px solid transparent;
  height: 175px;
  outline: none;
}

.note-active-field {
  border: 1px solid #ddd;
  -webkit-animation: pulseBorder 0.75s alternate infinite;
          animation: pulseBorder 0.75s alternate infinite;
}

@-webkit-keyframes pulseBorder {
  0% {
    border: 1px solid #fff;
  }
  100% {
    border: 1px solid #ccc;
  }
}

@keyframes pulseBorder {
  0% {
    border: 1px solid #fff;
  }
  100% {
    border: 1px solid #ccc;
  }
}

/* Create Note */
.create-note {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.new-note-title {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  margin-bottom: 10px;
  font-size: 1.15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-note-body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  margin-bottom: 10px;
  height: 170px;
  font-size: 1.15rem;
  line-height: 1.65;
}

/* Reveal and Hide Fade Transitions */
#my-notes {
  position: relative;
}

#my-notes li {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 1;
}

#my-notes li.fade-out {
  height: 0px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0.5;
}

#my-notes li.fade-in-calc {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}

.site-header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}

.site-header__avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.site-header__avatar img {
  display: block;
  width: 30px;
  height: 30px;
}

.site-header__menu {
  visibility: hidden;
  position: absolute;
  background-color: rgba(12, 56, 97, 0.89);
  left: 0;
  right: 0;
  top: -20px;
  padding-top: 58px;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  padding-bottom: 20px;
}

.site-header__menu--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

@media (min-width: 960px) {
  .site-header__menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    position: static;
    background-color: transparent;
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
  }
}

.site-header__search-trigger {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: 6px;
  right: 16px;
}

@media (min-width: 530px) {
  .site-header__search-trigger {
    top: 4px;
    font-size: 1.4rem;
  }
}

@media (min-width: 960px) {
  .site-header__search-trigger {
    display: none;
  }
}

.site-header__menu-trigger {
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  z-index: 10;
  top: 7px;
  right: 46px;
}

@media (min-width: 530px) {
  .site-header__menu-trigger {
    top: 5px;
    font-size: 1.4rem;
  }
}

@media (min-width: 960px) {
  .site-header__menu-trigger {
    display: none;
  }
}

.site-header__util {
  padding: 0 0 0 20px;
}

@media (min-width: 960px) {
  .site-header__util {
    padding: 0;
    float: right;
  }
}

.site-header__btn {
  margin-right: 20px;
}

@media (min-width: 960px) {
  .site-header__btn {
    float: left;
  }
}

.site-header .btn--with-photo {
  margin-right: 0;
}

.site-footer {
  padding: 2rem 0 3.5rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec));
  background-image: linear-gradient(#fff, #ececec);
}

.site-footer p {
  font-size: 0.9rem;
}

.site-footer .headline {
  color: #666;
  margin-bottom: 0.33rem;
}

.site-footer__link {
  color: #999;
  text-decoration: none;
}

.site-footer__link:hover {
  color: #0D3B66;
  text-decoration: underline;
}

.site-footer__inner {
  border-top: 1px dotted #dedede;
  padding-top: 3.5rem;
}

.site-footer__col-one {
  text-align: center;
}

@media (min-width: 960px) {
  .site-footer__col-one {
    text-align: left;
    width: 33%;
    float: left;
  }
}

.site-footer__col-two-three-group {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .site-footer__col-two-three-group {
    text-align: left;
    float: left;
    width: 42%;
    margin: 0;
  }
}

.site-footer__col-two {
  width: 50%;
  float: left;
}

.site-footer__col-three {
  width: 50%;
  float: left;
}

.site-footer__col-four {
  padding-top: 20px;
  width: 85%;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

@media (min-width: 960px) {
  .site-footer__col-four {
    padding-top: 0;
    margin: 0;
    clear: none;
    text-align: left;
    width: 25%;
    float: right;
  }
}

.main-navigation {
  padding-top: 2px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
}

.main-navigation ul:before,
.main-navigation ul:after {
  content: " ";
  display: table;
}

.main-navigation ul:after {
  clear: both;
}

@media (min-width: 960px) {
  .main-navigation {
    float: left;
    margin-right: 20px;
  }
}

.main-navigation li {
  list-style: none;
}

@media (min-width: 960px) {
  .main-navigation li {
    float: left;
    padding-left: 20px;
  }
}

.main-navigation a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

@media (min-width: 960px) {
  .main-navigation a {
    display: inline-block;
    padding: 0;
  }
}

.main-navigation .current-menu-item a,
.main-navigation a:hover {
  color: #FAF0CA;
}

.page-banner {
  padding: 80px 0 40px 0;
  position: relative;
}

@media (min-width: 530px) {
  .page-banner {
    padding: 130px 0 60px 0;
  }
}

.page-banner__content {
  position: relative;
  z-index: 2;
}

.page-banner__title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 3.6rem;
  margin: 0 0 1rem 0;
  color: #fff;
}

@media (min-width: 530px) {
  .page-banner__title {
    font-size: 5rem;
  }
}

.page-banner__bg-image {
  opacity: 0.33;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-banner__intro {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #ededed;
}

@media (min-width: 530px) {
  .page-banner__intro {
    font-size: 1.65rem;
  }
}

.page-banner__intro p {
  margin: 0;
}

.hero-slider {
  position: relative;
}

.hero-slider div {
  outline: none;
}

.hero-slider__interior {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 960px) {
  .hero-slider__interior {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.hero-slider__slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-slider__overlay {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.68);
  padding: 40px;
  color: #fff;
}

@media (min-width: 960px) {
  .hero-slider__overlay {
    width: 50%;
  }
}

.slick-dots {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 15px;
}

@media (min-width: 960px) {
  .slick-dots {
    top: 50px;
  }
}

.slick-dots li {
  list-style: none;
  display: inline;
}

.slick-dots li button {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  margin: 0 4px;
  padding: 0;
  outline: none;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #fff;
}

/* GlideJS */
.glide__bullets {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 15px;
}

@media (min-width: 960px) {
  .glide__bullets {
    top: 50px;
  }
}

.glide__bullets button {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  margin: 0 3px;
  padding: 0;
  outline: none;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.glide__bullets button.glide__bullet--active {
  background-color: #fff;
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-overlay p {
  padding-top: 15px;
}

.search-overlay .event-summary p {
  padding-top: 0;
}

.search-overlay .event-summary {
  margin-bottom: 0;
  margin-top: 20px;
}

body.admin-bar .search-overlay {
  top: 32px;
}

.search-overlay__top {
  background-color: rgba(0, 0, 0, 0.12);
}

.search-overlay__icon {
  margin-right: 10px;
  font-size: 1.8rem;
  color: #F95738;
}

@media (min-width: 960px) {
  .search-overlay__icon {
    font-size: 2.5rem;
  }
}

.search-overlay--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.search-overlay__section-title {
  margin: 30px 0 1px 0;
  font-weight: 400;
  color: #0D3B66;
  font-size: 2rem;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.search-overlay__close {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 2.1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  color: #F95738;
  line-height: 0.7;
}

@media (min-width: 530px) {
  .search-overlay__close {
    top: 18px;
    font-size: 2.1rem;
  }
}

@media (min-width: 960px) {
  .search-overlay__close {
    top: 26px;
    font-size: 2.8rem;
  }
}

.search-overlay__close:hover {
  opacity: 1;
}

.search-overlay .one-half {
  padding-bottom: 0;
}

.search-term {
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: #F95738;
}

@media (min-width: 530px) {
  .search-term {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .search-term {
    width: 80%;
    font-size: 3rem;
  }
}

.body-no-scroll {
  overflow: hidden;
}

.professor-cards {
  margin: 0;
  padding: 0;
}

.search-overlay .professor-cards {
  padding-top: 21px;
}

.professor-card {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-right: 15px;
  background-color: #F95738;
  overflow: hidden;
}

.search-overlay .professor-card {
  width: 180px;
}

.professor-card__image {
  display: block;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.professor-card:hover .professor-card__image {
  opacity: 0.8;
  -webkit-transform: scale(1.1) rotate(4deg);
          transform: scale(1.1) rotate(4deg);
}

.professor-card__name {
  font-weight: 300;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 0;
  right: 0;
  padding: 3px 10px;
  background-color: rgba(240, 54, 19, 0.85);
}

.professor-card:hover .professor-card__name {
  background-color: rgba(215, 46, 14, 0.85);
}

.professor-card__list-item {
  display: inline-block;
  list-style: none;
}

.headline {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.headline--large {
  font-size: 3.6rem;
}

@media (min-width: 530px) {
  .headline--large {
    font-size: 6.25rem;
  }
}

.headline--large-medium {
  font-size: 5rem;
  margin: 0 0 1rem 0;
}

.headline--medium {
  font-size: 1.9rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 530px) {
  .headline--medium {
    font-size: 3.125rem;
  }
}

.headline--small-plus {
  font-family: "Roboto", sans-serif;
  font-size: 1.6875rem;
  font-weight: 400;
  margin-bottom: 1.9rem;
}

.headline--small {
  font-size: 1.2rem;
  margin-bottom: 1.9rem;
}

@media (min-width: 530px) {
  .headline--small {
    font-size: 1.6875rem;
  }
}

.headline--smaller {
  font-size: 1.5rem;
}

.headline--tiny {
  font-family: "Roboto", sans-serif;
  font-size: 1.3875rem;
  margin-bottom: 0.25rem;
}

.headline--post-title a {
  color: #0D3B66;
  text-decoration: none;
}

.headline--post-title a:hover {
  text-decoration: underline;
}

.generic-content p,
.generic-content li {
  font-size: 1.15rem;
}

.generic-content blockquote,
.generic-content blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

.generic-content h1,
.generic-content h2,
.generic-content h3,
.generic-content h4,
.generic-content h5,
.generic-content h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}

.generic-content h1 {
  font-size: 3.6rem;
}

.generic-content h2 {
  font-size: 3.1rem;
}

.generic-content h3 {
  font-size: 2.6rem;
}

.generic-content h4 {
  font-size: 2.1rem;
}

.generic-content h5 {
  font-size: 1.6rem;
}

.generic-content h6 {
  font-size: 1.15rem;
}

@media (min-width: 530px) {
  .generic-content h1 {
    font-size: 6.25rem;
  }
  .generic-content h2 {
    font-size: 5rem;
  }
  .generic-content h3 {
    font-size: 3.125rem;
  }
  .generic-content h4 {
    font-size: 2.4rem;
  }
  .generic-content h5 {
    font-size: 1.9rem;
  }
  .generic-content h6 {
    font-size: 1.15rem;
  }
}

@media (min-width: 960px) {
  .full-width-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.full-width-split__one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.6rem 16px;
}

@media (min-width: 960px) {
  .full-width-split__one {
    padding: 40px;
  }
}

@media (min-width: 960px) {
  .full-width-split__one .full-width-split__inner {
    float: right;
  }
}

.full-width-split__two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #FAF0CA;
  padding: 1.6rem 16px;
}

@media (min-width: 960px) {
  .full-width-split__two {
    padding: 40px;
  }
}

@media (min-width: 1350px) {
  .full-width-split__inner {
    width: 610px;
  }
}

.event-summary {
  position: relative;
  padding-left: 107px;
  min-height: 77px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

.event-summary__title a {
  color: #173f58;
}

.event-summary__date {
  text-decoration: none;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  padding: 14px 0 11px 0;
  color: #FFF;
  border-radius: 50%;
  background-color: #0D3B66;
  width: 80px;
  line-height: 1;
  -webkit-transition: opacity .33s;
  transition: opacity .33s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
}

.event-summary__date:hover {
  opacity: .75;
}

.event-summary__date--beige {
  background-color: #F4D35E;
}

.event-summary__month {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.event-summary__day {
  display: block;
  font-size: 2.02rem;
  font-weight: 700;
}

.page-links {
  position: relative;
  z-index: 1;
  background-color: #FAF0CA;
  margin: 0 0 40px 0;
}

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right;
  }
}

.page-links__title {
  margin: 0;
  font-weight: normal;
  text-align: center;
  padding: 20px 0;
  background-color: #0D3B66;
  color: #fff;
}

.page-links__title a {
  color: #fff;
  text-decoration: none;
  background-color: #0D3B66;
}

.page-links li {
  border-top: 1px solid #f4de89;
}

.page-links li:first-child {
  border-top: none;
}

.page-links__active,
.page-links .current_page_item {
  text-align: center;
  background-color: #f4e6b1;
  color: #0D3B66;
  font-weight: bold;
}

.page-links li a {
  display: block;
  text-align: center;
  padding: 17px 10px;
  text-decoration: none;
  color: #0D3B66;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-links li a:hover {
  color: #0a2b4b;
  background-color: #f2e3aa;
}

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

.link-list li {
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px dotted #DEDEDE;
}

.search-overlay .link-list li {
  font-size: 1.3rem;
}

.link-list li:last-child {
  border-bottom: none;
}

.link-list a {
  color: #F95738;
}

.metabox {
  background-color: #FAF0CA;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
}

.metabox--position-up {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.metabox--with-home-link {
  padding: 0;
}

.metabox__main {
  padding: 10px 15px 10px 11px;
}

.metabox p {
  margin: 0;
  font-size: 0.9rem;
  color: #a79038;
}

.metabox a {
  color: #a79038;
  text-decoration: none;
  font-weight: bold;
}

.metabox a:hover {
  text-decoration: underline;
}

.metabox .metabox__blog-home-link {
  background-color: #0D3B66;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px 0 0 3px;
  font-weight: normal;
}

.metabox .metabox__blog-home-link:hover {
  text-decoration: none;
  background-color: #0a2e4f;
}

.post-item {
  border-bottom: 1px dotted #DEDEDE;
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;
}

.post-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */