@charset "UTF-8";
/*
* Author          : AHM Yousuf Niran
* Author URL      : http://niranyousuf.me/
* Version         : 1.1.1
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"), url("../fonts/Satoshi-Regular.woff") format("woff"), url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"), url("../fonts/Satoshi-Light.woff") format("woff"), url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"), url("../fonts/Satoshi-Medium.woff") format("woff"), url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?59603333");
  src: url("../fonts/fontello.eot?59603333#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?59603333") format("woff2"), url("../fonts/fontello.woff?59603333") format("woff"), url("../fonts/fontello.ttf?59603333") format("truetype"), url("../fonts/fontello.svg?59603333#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e800";
} /* '' */
.icon-edit:before {
  content: "\e801";
} /* '' */
.icon-location:before {
  content: "\e802";
} /* '' */
.icon-right:before {
  content: "\e803";
} /* '' */
.icon-arrow-right:before {
  content: "\e804";
} /* '' */
.icon-trash-empty:before {
  content: "\e805";
} /* '' */
.icon-thumbs-up:before {
  content: "\e806";
} /* '' */
.icon-right-open:before {
  content: "\e809";
} /* '' */
.icon-ok:before {
  content: "\e80b";
} /* '' */
.icon-cancel:before {
  content: "\e80c";
} /* '' */
.icon-home:before {
  content: "\e80d";
} /* '' */
.icon-search:before {
  content: "\e80f";
} /* '' */
.icon-x:before {
  content: "\e814";
} /* '' */
.icon-spin6:before {
  content: "\e839";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-facebook:before {
  content: "\f09a";
} /* '' */
.icon-menu:before {
  content: "\f0c9";
} /* '' */
.icon-linkedin:before {
  content: "\f0e1";
} /* '' */
.icon-angle-double-right:before {
  content: "\f101";
} /* '' */
.icon-unlink:before {
  content: "\f127";
} /* '' */
.icon-thumbs-up-alt:before {
  content: "\f164";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-wordpress:before {
  content: "\f19a";
} /* '' */
.icon-github-squared:before {
  content: "\f300";
} /* '' */
.footer_menu, .footer_wrapper, .related .event-details, .related .profile-lists, .pagination, .news_wrapper .latest_news, .content-block .event-details, .events_wrapper .latest_events, .bradcumb, .news_wrapper .latest_news .news-date, .related .event-date, .content-block .event-date, .hero-banner, header .navbar_wrapper .user_nav, header .navbar_menu .main_menu, header .navbar_menu, header .navbar_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero-banner, header .navbar_wrapper .user_nav, header .navbar_menu .main_menu, header .navbar_menu, header .navbar_wrapper {
  align-items: center;
  justify-content: center;
}

.related .event-date, .content-block .event-date {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news_wrapper .latest_news .news-date {
  align-items: center;
}

.page-content,
.page .banner-content, .post-content, .single .banner-content, .content-block, .archive .content-block,
.archive .banner-content {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  cursor: pointer;
  vertical-align: middle;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125rem;
  text-decoration: none;
  letter-spacing: 0.0122rem;
  color: #001f3f;
  padding: 0.875rem 2.125rem;
  transition: all 0.3s ease;
  position: relative;
  text-transform: uppercase;
  border-top: 2px solid #001f3f;
  border-bottom: 2px solid #001f3f;
}
.btn::after, .btn::before {
  position: absolute;
  content: "";
  background-color: transparent;
  border: solid #ff4500;
  border-width: 0;
}
.btn::after {
  top: -2px;
  left: -1px;
  border-bottom: transparent;
  border-left: transparent;
}
.btn::before {
  bottom: -2px;
  right: -1px;
  border-top: transparent;
  border-right: transparent;
}
.btn:hover, .btn:focus, .btn:active {
  outline: none;
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  color: #ff4500;
}
.btn:hover::after, .btn:hover::before, .btn:focus::after, .btn:focus::before, .btn:active::after, .btn:active::before {
  border-width: 2px;
  animation: drawBorder 600ms ease forwards;
}

.page_links .min_list, header .navbar_menu .main_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 86rem;
  padding: 0 1.5rem;
}
@media (min-width: 768.98px) {
  .container {
    padding: 0 2.75rem;
  }
}
@media (min-width: 1024.98px) {
  .container {
    padding: 0 4rem;
  }
}
@media (min-width: 1536.98px) {
  .container {
    margin: 0 auto;
    max-width: 90rem;
  }
}
@media (min-width: 1680.98px) {
  .container {
    padding: 0 5rem;
    margin: 0 auto;
    max-width: 100rem;
  }
}
.container-alt {
  margin: 0 auto;
}
@media (min-width: 768.98px) {
  .container-alt {
    padding: 0 2.75rem;
  }
}
@media (min-width: 1024.98px) {
  .container-alt {
    padding: 0 4rem;
  }
}
@media (min-width: 1536.98px) {
  .container-alt {
    padding: 0 5rem;
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-left {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-right {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.loaded .in-view .slide-down, .loaded .in-view.slide-down,
.loaded .in-view .slide-up, .loaded .in-view.slide-up {
  opacity: 1;
  transform: translateY(0px);
}
.loaded .in-view .slide-left, .loaded .in-view.slide-left,
.loaded .in-view .slide-right, .loaded .in-view.slide-right {
  opacity: 1;
  transform: translateX(0px);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0%, 50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* Ripple Out */
@keyframes rippleOut {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes drawBorder {
  0% {
    height: 0;
    width: 0;
  }
  60% {
    height: 0;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
/* 01. all default and common styles */
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.4;
  font-family: "Satoshi", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  overscroll-behavior: none;
}
@media (min-width: 768px) {
  body.admin-bar header {
    margin-top: 32px;
  }
}
body.menu-extended {
  overflow: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
div,
nav,
span,
header,
footer,
button,
article,
section {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #001f3f;
  box-sizing: border-box;
  transition: all 300ms ease;
}

h2 {
  font-family: "Oswald", serif;
  text-transform: uppercase;
  font-size: clamp(2rem, 8vw, 2.75rem);
}
h2 span {
  background: linear-gradient(160deg, #001f3f 0%, #0041a9 70%);
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-family: "Poppins", serif;
}

h4 {
  color: #000000;
  font-size: clamp(1.2rem, 2vw, 1.75rem);
}

h5 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-family: "Poppins", serif;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-family: "Poppins", serif;
}

p {
  font-size: 1.125rem;
}
p + p {
  margin-top: 1rem;
}

embed,
img {
  width: 100%;
  height: auto;
}

/* Secions */
.section-padding {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.section-padding:nth-of-type(odd) {
  background-color: #fff5ee;
}
.section-padding .btn_group {
  text-align: center;
}

.section-title {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.section-title p {
  margin-top: 1rem;
}

.icon {
  transition: all 300ms ease;
}

/* all anchor tag with button link */
a {
  transition: all 300ms ease;
  text-decoration: none;
}
a.active, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.btn_group {
  margin-top: 1.5rem;
}

.generic-content h2 {
  font-family: "Poppins", serif;
  font-weight: 500;
  text-transform: none;
}
.generic-content h2,
.generic-content h3 {
  font-size: 1.75rem;
  line-height: 1.2;
}
.generic-content h4,
.generic-content h5,
.generic-content h6 {
  font-size: 1.25rem;
  line-height: 1.2;
}
.generic-content p + h2,
.generic-content p + h3,
.generic-content p + h4,
.generic-content p + h5,
.generic-content p + h6 {
  margin-top: 1.75rem;
}
.generic-content p + ul,
.generic-content p + ol {
  margin-top: 1rem;
}
.generic-content h2 + ul,
.generic-content h2 + ol,
.generic-content h2 + p,
.generic-content h3 + ul,
.generic-content h3 + ol,
.generic-content h3 + p,
.generic-content h4 + ul,
.generic-content h4 + ol,
.generic-content h4 + p,
.generic-content h5 + ul,
.generic-content h5 + ol,
.generic-content h5 + p,
.generic-content h6 + ul,
.generic-content h6 + ol,
.generic-content h6 + p {
  margin-top: 1rem;
}
.generic-content ul,
.generic-content ol {
  padding-left: 1.25rem;
}
.generic-content ul li,
.generic-content ol li {
  font-size: 1.125rem;
}
.generic-content ul li + li,
.generic-content ol li + li {
  margin-top: 0.375rem;
}
.generic-content ul + ol,
.generic-content ul + ul,
.generic-content ul + p,
.generic-content ol + ol,
.generic-content ol + ul,
.generic-content ol + p {
  margin-top: 1rem;
}
.generic-content a {
  color: rgba(0, 31, 63, 0.75);
  text-decoration: underline;
  font-weight: 500;
}
.generic-content a:hover {
  color: #ff4500;
}

.bradcumb {
  position: absolute;
  overflow: hidden;
  gap: 0;
  top: 0;
  border-radius: 3px;
  transform: translateY(-50%);
  background-color: #fff5ee;
}
.bradcumb a,
.bradcumb > span {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: "Poppins", serif;
  font-weight: 500;
}
.bradcumb > span {
  padding-left: 2rem;
  background-color: rgba(0, 31, 63, 0.15);
  opacity: 0.7;
}
.bradcumb a {
  color: #ffffff;
  position: relative;
  background-color: #001f3f;
}
.bradcumb a::after {
  transition: all ease-in-out 0.2s;
  content: "";
  position: absolute;
  right: -13px;
  top: 50%;
  z-index: 1;
  width: 0;
  height: 0;
  border: 13px solid #001f3f;
  border-left-color: transparent;
  border-bottom-color: transparent;
  box-shadow: 0px 0px 0 0px #d9d9d9, 5px -5px 10px -4px #d9d9d9;
  transform: translateY(-50%) rotate(45deg);
}
.bradcumb a .icon {
  color: #ffffff;
}
.bradcumb a:hover {
  color: #ff4500;
}
.bradcumb a:hover .icon {
  color: #ff4500;
}

/* 02. Navigation var styles */
header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  z-index: 99;
  transition: all 300ms ease;
}
header.on_top {
  top: -100%;
}
header.on_top.fix_top {
  top: 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255, 255, 255, 0.8);
}
header::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  transition: all 500ms ease !important;
  opacity: 0;
}
header .navbar_brand {
  line-height: 1;
  margin-right: auto;
}
header .navbar_brand svg {
  width: 200px;
  aspect-ratio: 100/23;
}
header .navbar_menu {
  gap: 2rem;
}
header .navbar_menu .menu_logo {
  display: none;
}
header .navbar_menu .menu_logo svg * {
  fill: #ffffff;
}
header .navbar_menu .main_menu {
  gap: 1.75rem;
}
header .navbar_menu .main_menu li a {
  font-size: 1.125rem;
  position: relative;
  display: block;
}
header .navbar_menu .main_menu li a::after {
  right: 0;
  width: 0;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  transition: all 300ms ease;
  background-color: #001f3f;
}
header .navbar_menu .main_menu li a.active, header .navbar_menu .main_menu li a:hover {
  color: #001f3f;
}
header .navbar_menu .main_menu li a.active::after, header .navbar_menu .main_menu li a:hover::after {
  left: 0;
  width: 100%;
}
header .navbar_menu .main_menu li.current-menu-item a {
  color: #001f3f;
}
@media (max-width: 768.98px) {
  header .navbar_menu .main_menu li.current-menu-item a {
    color: #ff4500;
  }
}
header .navbar_menu .main_menu li:hover::after {
  color: #001f3f;
  transform: rotate(-90deg);
}
@media (max-width: 768.98px) {
  header .navbar_menu .main_menu li:hover::after {
    color: #ff4500;
  }
}
header .navbar_menu .main_menu li:hover > a {
  color: #001f3f;
}
@media (max-width: 768.98px) {
  header .navbar_menu .main_menu li:hover > a {
    color: #ff4500;
  }
}
header .navbar_wrapper .user_nav {
  gap: 0.75rem;
}
header .navbar_wrapper .user_nav .nav_btn {
  font-size: 1rem;
  padding: 0.375rem 0.875rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.1;
  background: #001f3f;
  border: 1px solid #001f3f;
}
header .navbar_wrapper .user_nav .nav_btn:hover {
  background: #fff5ee;
  color: #001f3f;
}
header .navbar_wrapper .user_nav .nav_btn.light {
  background: #ff4500;
  border: 1px solid #ff4500;
}
header .navbar_wrapper .user_nav .nav_btn.light:hover {
  background: #fff5ee;
  color: #ff4500;
}
header .navbar_wrapper .user_nav .nav_btn_user {
  padding: 0;
  padding-right: 0.875rem;
  background: #001f3f;
  border: 1px solid #001f3f;
  color: #ffffff;
}
header .navbar_wrapper .user_nav .nav_btn_user .user_avatar {
  height: 100%;
  display: flex;
}
header .navbar_wrapper .user_nav .nav_btn_user .user_avatar img {
  width: 29px;
  height: 29px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navbar_wrapper .user_nav .nav_btn_user .user_name {
  color: #ffffff;
}
header .navbar_wrapper .user_nav .nav_btn_user:hover .user_name {
  color: #001f3f;
}
header .navbar_wrapper .search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar_wrapper .search_btn svg {
  width: 1.25rem;
  height: 1.25rem;
}
header .navbar_toggler {
  display: none;
  position: relative;
}
header .navbar_toggler:focus {
  outline: none;
  box-shadow: none;
}
header .navbar_toggler span.bar {
  height: 0.125rem;
  width: 100%;
  border-radius: 3px;
  background: #001f3f;
  transition: all 300ms ease;
}

/* Medium devices (tablets, 992px and up) */
@media (max-width: 992px) {
  header .navbar_brand svg {
    width: 8rem;
    aspect-ratio: 100/23;
  }
  header .navbar_menu {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 0;
    top: 0;
    background-color: #001f3f;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem;
    transition: height 200ms, visibility 200ms, opacity 200ms, transform 350ms ease-out;
    transform-origin: 0 0;
    transform: scale3d(1, 0, 0);
    visibility: hidden;
    opacity: 0;
  }
  header .navbar_menu .menu_logo {
    display: block;
  }
  header .navbar_menu .main_menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }
  header .navbar_menu .main_menu li {
    opacity: 0;
    transform: translateY(-10px);
    transition: all ease-out 300ms;
  }
  header .navbar_menu .main_menu li a {
    color: #ffffff;
    font-size: 1.375rem;
    font-weight: 400;
  }
  header .navbar_menu[data-visible=true] {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    visibility: visible;
  }
  header .navbar_menu[data-visible=true] .main_menu li {
    opacity: 1;
    transform: translateY(0);
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(1n) {
    transition-delay: 0.125s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(2n) {
    transition-delay: 0.25s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(3n) {
    transition-delay: 0.375s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(4n) {
    transition-delay: 0.5s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(5n) {
    transition-delay: 0.625s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(6n) {
    transition-delay: 0.75s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(7n) {
    transition-delay: 0.875s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(8n) {
    transition-delay: 1s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(9n) {
    transition-delay: 1.125s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(10n) {
    transition-delay: 1.25s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(11n) {
    transition-delay: 1.375s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(12n) {
    transition-delay: 1.5s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(13n) {
    transition-delay: 1.625s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(14n) {
    transition-delay: 1.75s;
  }
  header .navbar_menu[data-visible=true] .main_menu li:nth-child(15n) {
    transition-delay: 1.875s;
  }
  header .navbar_menu .user_nav {
    margin-top: auto;
  }
  header .navbar_menu .user_nav .nav_btn {
    background-color: #05b2fc;
    border-color: #05b2fc;
  }
  header .navbar_toggler {
    border: 0;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    z-index: 999999999;
  }
  header .navbar_toggler[aria-expanded=true] span.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #ffffff;
  }
  header .navbar_toggler[aria-expanded=true] span.bar:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
  }
  header .navbar_toggler[aria-expanded=true] span.bar:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
  }
  header .navbar_toggler[aria-expanded=true] span.bar:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
  }
  .main_menu {
    scrollbar-width: thin !important;
    scrollbar-color: #4e4e4e transparent !important;
  }
  .main_menu::-webkit-scrollbar {
    width: 7px !important;
    height: 45px !important;
  }
  .main_menu::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  .main_menu::-webkit-scrollbar-thumb {
    background-color: #4e4e4e !important;
  }
  .main_menu::-webkit-scrollbar-track, .main_menu::-webkit-scrollbar-thumb {
    border-radius: 12px !important;
  }
}
/* 09. Contact style */
.search_overlay {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.99);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 300ms ease;
  transform: scale(1.09);
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
.search_overlay.show-box {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.search_overlay .search_box {
  background-color: rgba(0, 31, 63, 0.05);
}
.search_overlay .search_box .field_group {
  position: relative;
  height: 80px;
  display: flex;
}
.search_overlay .search_box .field_group .search_icon {
  justify-content: flex-start;
  aspect-ratio: 1;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .search_overlay .search_box .field_group .search_icon {
    width: 30px;
  }
}
.search_overlay .search_box .field_group .search_icon svg {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(90deg);
}
@media (max-width: 768px) {
  .search_overlay .search_box .field_group .search_icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.search_overlay .search_box .field_group .search-hide {
  cursor: pointer;
  justify-content: flex-start;
  aspect-ratio: 1;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .search_overlay .search_box .field_group .search-hide {
    width: 30px;
  }
}
.search_overlay .search_box .field_group .search-hide svg {
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 768px) {
  .search_overlay .search_box .field_group .search-hide svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.search_overlay .search_box .field_group input.search_input {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  font-size: clamp(1.5rem, 3.4vw, 2.5rem);
}
.search_overlay .search_box .field_group input.search_input:focus, .search_overlay .search_box .field_group input.search_input:focus-visible {
  border: 0;
  outline: none;
}
.search_overlay .search_box .field_group input.search_input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search_overlay .search_box .field_group input.search_input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

#search__results {
  padding-top: 48px;
  padding-bottom: 48px;
}
#search__results h2 {
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#search__results .icon-spin6 {
  display: inline-block;
  font-size: clamp(1.5rem, 3.4vw, 2.25rem);
  animation: spinner 1s linear infinite;
}
#search__results p {
  margin-bottom: 30px;
}
#search__results .user-profile {
  width: 200px;
}
#search__results .user-profile p {
  margin-bottom: 0;
}
#search__results .search-result__list {
  list-style: none;
  margin-bottom: 30px;
}
#search__results .search-result__list li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 300;
}
#search__results .search-result__list li a {
  text-decoration: underline;
  font-size: inherit;
  transition: all 200ms ease;
  font-weight: 400;
}
#search__results .search-result__list li a:hover {
  text-decoration: none;
}
#search__results .search-result__list .latest-details {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  padding-left: 130px;
  margin-bottom: 32px;
}
#search__results .search-result__list .latest-details .latest-date {
  left: 0;
  width: 94px;
  aspect-ratio: 10/9;
  font-size: 28px;
  font-weight: 500;
  padding: 12px 22px;
  border-radius: 4px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#search__results .search-result__list .latest-details .latest-date > span {
  line-height: 1;
}
#search__results .search-result__list .latest-details .latest-date > span.latest-month {
  font-weight: 300;
  margin-bottom: 5px;
}
#search__results .search-result__list .latest-details .latest-date > span.latest-day {
  font-weight: 500;
}
#search__results .search-result__list .latest-details .latest-content h5 > a {
  font-weight: 600;
}

/* 03. Hero section style */
.hero-banner {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  width: 100%;
  height: 100vh;
  min-height: 680px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-banner::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.hero-banner .hero-content {
  text-align: center;
  max-width: 880px;
  padding-top: 5rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.hero-banner .hero-content h1 {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  font-size: clamp(2.2rem, 4.6875vw, 4rem);
  font-family: "Oswald", serif;
  text-transform: uppercase;
  text-wrap: balance;
}
@media (max-width: 768px) {
  .hero-banner .hero-content h1 {
    margin-bottom: 1.5rem;
  }
}
.hero-banner .hero-content p {
  margin-bottom: 40px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .hero-banner .hero-content p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
}

.page-banner {
  min-height: 336px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.page-banner::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.8), #ffffff);
  border-bottom: 1px solid #f7f7f7;
}
.page-banner .banner-content {
  position: relative;
  z-index: 1;
  margin-top: 80px;
}
.page-banner .banner-content h2 {
  margin-bottom: 1.25rem;
  font-size: clamp(2.25rem, 8vw, 3.5rem);
}
.page-banner .banner-content p {
  max-width: 750px;
  font-size: 22px;
}

.error404 .page-banner {
  height: 100vh;
  width: 100vw;
}
.error404 .page-banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error404 .page-banner .banner-content h2 {
  font-size: clamp(2.2rem, 11vw, 6.5rem);
  font-weight: 700;
}
.error404 #footer {
  display: none;
}

.events_wrapper {
  text-align: center;
}
.events_wrapper .latest_events {
  gap: 30px;
  margin-bottom: 2.5rem;
}
.events_wrapper .latest_events .event-details {
  width: 100%;
  min-height: 20rem;
  transition: all ease 300ms;
  position: relative;
  padding: 1.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
  z-index: 1;
  padding-top: 86px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
@media (min-width: 668.98px) {
  .events_wrapper .latest_events .event-details {
    max-width: calc(50% - 15px);
  }
}
@media (min-width: 1024.98px) {
  .events_wrapper .latest_events .event-details {
    max-width: calc(33.33333% - 20px);
  }
}
.events_wrapper .latest_events .event-details:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 300ms;
  content: "";
  background: linear-gradient(0deg, #001f3f, rgba(0, 31, 63, 0.5));
  z-index: -1;
  opacity: 0.75;
}
.events_wrapper .latest_events .event-details:hover {
  box-shadow: 0 0 16px 0 rgba(0, 31, 63, 0.25);
}
.events_wrapper .latest_events .event-details:hover::after {
  opacity: 0.85;
}
.events_wrapper .latest_events .event-banner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 300ms;
  z-index: -1;
}
.events_wrapper .latest_events .event-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events_wrapper .latest_events .event-date {
  background-color: #fff5ee;
  gap: 0.25rem;
  padding: 0.5rem 0.875rem;
  position: absolute;
  left: 1.125rem;
  top: 0;
}
.events_wrapper .latest_events .event-date .event-month {
  font-size: 1.375rem;
  font-family: "Poppins", serif;
}
.events_wrapper .latest_events .event-date .event-day {
  font-size: 3rem;
  font-family: "Oswald", serif;
  line-height: 1.1;
}
.events_wrapper .latest_events .event-content .event-title {
  color: #ffffff;
  font-family: "Oswald", serif;
  letter-spacing: 0.05rem;
  font-size: 1.75rem;
}
.events_wrapper .latest_events .event-content p {
  color: #fff5ee;
  padding-bottom: 0;
  padding-top: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
@media (min-width: 1024.98px) {
  .events_wrapper .latest_events .event-content p {
    padding: 1rem 2rem;
    padding-bottom: 0;
  }
}

.content-block {
  padding: 4rem 0;
}
.content-block .events_block {
  margin-bottom: 2.5rem;
}
.content-block .event-details {
  width: 100%;
  transition: all ease 300ms;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 31, 63, 0.02);
  background-color: rgba(0, 31, 63, 0.02);
}
.content-block .event-details + .event-details {
  margin-top: 2.25rem;
}
.content-block .event-details:hover .event-title {
  color: #ff4500;
}
.content-block .event-banner {
  display: none;
}
.content-block .event-date {
  background-color: #fff5ee;
  gap: 0.25rem;
  width: 7.5rem;
}
@media (max-width: 575px) {
  .content-block .event-date {
    width: 5.5rem;
  }
}
.content-block .event-date .event-month {
  font-size: 1.375rem;
  font-family: "Poppins", serif;
}
.content-block .event-date .event-day {
  font-size: 3rem;
  font-family: "Oswald", serif;
  line-height: 1.1;
}
.content-block .event-content {
  flex: 1;
  padding: 1rem;
}
.content-block .event-content .event-title {
  font-family: "Oswald", serif;
  letter-spacing: 0.05rem;
  font-size: 1.75rem;
}
.content-block .event-content p {
  padding-bottom: 0;
  padding-top: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.news_wrapper {
  position: relative;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
@media (min-width: 1920px) {
  .news_wrapper {
    background-size: cover;
  }
}
.news_wrapper .latest_news {
  gap: 1.25rem;
  margin-bottom: 2rem;
}
@media (max-width: 768.98px) {
  .news_wrapper .latest_news {
    margin-bottom: 60px;
  }
}
.news_wrapper .latest_news .news-details {
  width: -100%;
}
@media (min-width: 660.98px) {
  .news_wrapper .latest_news .news-details {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 1024.98px) {
  .news_wrapper .latest_news .news-details {
    max-width: calc(25% - 20px);
  }
}
.news_wrapper .latest_news .news-details:hover .news-banner {
  transition: all 200ms ease;
  border-radius: 0;
}
.news_wrapper .latest_news .news-details:hover .news-banner::after {
  opacity: 0.75;
}
.news_wrapper .latest_news .news-banner {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;
  display: block;
}
.news_wrapper .latest_news .news-banner::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 300ms;
  content: "";
  background: linear-gradient(0deg, #001f3f, rgba(0, 31, 63, 0.5));
  z-index: 0;
  opacity: 0.65;
}
.news_wrapper .latest_news .news-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_wrapper .latest_news .news-date {
  gap: 0.25rem;
  padding: 0.5rem 0;
}
.news_wrapper .latest_news .news-date > span {
  line-height: 1;
}
.news_wrapper .latest_news .news-date > span.month {
  font-weight: 300;
}
.news_wrapper .latest_news .news-date > span.day {
  font-weight: 500;
}
.news_wrapper .latest_news .news-date > span.calender svg {
  width: 1.25rem;
  height: 1.25rem;
}
.news_wrapper .latest_news .news-date > span.author {
  margin-left: 0.375rem;
}
.news_wrapper .latest_news .news-content h4 {
  line-height: 1.1;
  margin-bottom: 1rem;
}
.news_wrapper .latest_news .news-content h4 a {
  font-size: 1.375rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.news_wrapper .latest_news .news-content h4 a:hover {
  color: #ff4500;
}
.news_wrapper .latest_news .news-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.post-wrapper {
  position: relative;
  padding: 4rem 0;
}
.pagination {
  gap: 0.5rem;
  padding: 0.75rem 0;
}
.pagination a,
.pagination span {
  padding: 0.25rem;
  padding-bottom: 0;
  position: relative;
  font-weight: 500;
  color: #05b2fc;
}
.pagination a::after,
.pagination span::after {
  right: 0;
  width: 0;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  transition: all 300ms ease;
  background-color: #001f3f;
  height: 2px;
  background: #05b2fc;
}
.pagination a:hover, .pagination a[aria-current=page],
.pagination span:hover,
.pagination span[aria-current=page] {
  color: #ff4500;
}
.pagination a:hover::after, .pagination a[aria-current=page]::after,
.pagination span:hover::after,
.pagination span[aria-current=page]::after {
  left: 0;
  width: 100%;
  background-color: #ff4500;
}

.page_info {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.page_info p {
  font-family: "Poppins", serif;
  font-size: 1.25rem;
}
.page_info p a {
  font-weight: 500;
  color: rgba(0, 31, 63, 0.65);
}
.page_info p a:hover {
  color: #ff4500;
}

/*
* 04. Professor post type
*/
.profile-img {
  max-width: 22rem;
  float: left;
  margin-bottom: 1.5rem;
}
@media (min-width: 575.98px) {
  .profile-img {
    max-width: 22rem;
    width: 100%;
    float: left;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
  }
}

.like-box {
  display: inline-block;
  padding: 6px 16px;
  background-color: #f6f6f7;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.014);
  cursor: pointer;
}
.like-box[data-exists=yes] .icon.icon-thumbs-up-alt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.like-box[data-exists=yes] .icon.icon-thumbs-up {
  display: none;
}
.like-box .icon {
  color: #001f3f;
}
.like-box .icon.icon-thumbs-up-alt {
  display: none;
}
.like-box .like-count {
  color: #001f3f;
  margin-left: 4px;
  font-weight: 600;
}

.page-wrapper {
  position: relative;
  padding: 4rem 0;
}

.page_links {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 65, 169, 0.15);
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 575.98px) {
  .page_links {
    width: 300px;
    float: right;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
  }
}
.page_links .page_title {
  font-family: "Satoshi", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  background-color: #05b2fc;
  text-transform: none;
  margin: 0;
  padding: 0;
}
.page_links .page_title:hover {
  background-color: #0041a9;
}
.page_links .page_title a {
  color: #ffffff;
  padding: 1rem;
  display: block;
  font-weight: 500;
}
.page_links .min_list li a {
  display: block;
  font-family: "Satoshi", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  padding: 1rem;
  background-color: rgba(0, 65, 169, 0.09);
  border-top: 1px solid rgba(0, 65, 169, 0.3);
}
.page_links .min_list li a:hover {
  background-color: rgba(0, 65, 169, 0.2);
}
.page_links .min_list li.current_page_item a {
  font-weight: 500;
  background-color: rgba(0, 65, 169, 0.2);
}

.programs .program h2 {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  margin-bottom: 1rem;
}
.programs .program h2:hover a {
  color: #ff4500;
}
.programs .program + .program {
  margin-top: 2.5rem;
}

.related {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid rgba(0, 31, 63, 0.15);
}
.related-program {
  margin-top: 1.5rem;
}
.related-program h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 1.1;
}
.related-program h2 a {
  color: rgba(0, 31, 63, 0.75);
}
.related-program h2 a:hover {
  color: #ff4500;
}
.related-program p {
  margin-top: 1rem;
}
.related .profile-lists {
  margin-top: 1.375rem;
}
.related .user-profile {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  width: 280px;
  aspect-ratio: 4/3;
  transition: all ease 300ms;
}
.related .user-profile:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.related .user-profile .profile-card .author-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related .user-profile .profile-card p {
  position: absolute;
  background-color: rgba(0, 31, 63, 0.7);
  padding: 5px 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}
.related .user-profile .self-info {
  color: #ffffff;
  padding: 24px;
}
.related .event-details {
  width: 100%;
  transition: all ease 300ms;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 31, 63, 0.02);
  background-color: rgba(0, 31, 63, 0.02);
  margin-top: 2.25rem;
}
.related .event-details:hover .event-title {
  color: #ff4500;
}
.related .event-banner {
  display: none;
}
.related .event-date {
  background-color: #fff5ee;
  gap: 0.25rem;
  width: 7.5rem;
}
@media (max-width: 575px) {
  .related .event-date {
    width: 5.5rem;
  }
}
.related .event-date .event-month {
  font-size: 1.375rem;
  font-family: "Poppins", serif;
}
.related .event-date .event-day {
  font-size: 3rem;
  font-family: "Oswald", serif;
  line-height: 1.1;
}
.related .event-content {
  flex: 1;
  padding: 1rem;
}
.related .event-content .event-title {
  font-family: "Oswald", serif;
  letter-spacing: 0.05rem;
  font-size: 1.75rem;
}
.related .event-content p {
  padding-bottom: 0;
  padding-top: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

/* 10. Footer styles */
.footer {
  background: rgba(255, 245, 238, 0.6);
  padding-top: 100px;
  padding-bottom: 2.5rem;
  margin-top: auto;
}
.footer_wrapper {
  padding-bottom: 2.5rem;
  flex-direction: column;
}
@media (min-width: 768.98px) {
  .footer_wrapper {
    gap: 4rem;
    flex-direction: row;
  }
}
@media (min-width: 768.98px) {
  .footer .product-info {
    flex: 1;
  }
}
.footer .product-info a {
  margin-bottom: 32px;
  display: block;
}
.footer .product-info a.logo {
  font-size: 32px;
  font-weight: 600;
}
.footer .product-info a.logo img {
  height: 33px;
  width: auto;
}
.footer .product-info a.logo span {
  font-weight: 300;
}
.footer .product-info a.logo svg {
  height: 46px;
  width: 200px;
}
.footer .product-info p {
  font-size: 14px;
  max-width: 368px;
  margin-inline: 0;
  margin-bottom: 32px;
  line-height: 2;
}
.footer_menu {
  gap: 4rem;
}
@media (max-width: 768px) {
  .footer_menu {
    border-top: 1px solid rgba(0, 31, 63, 0.12);
  }
}
@media (max-width: 992.98px) {
  .footer_menu .footer-links {
    padding-top: 30px;
  }
}
.footer_menu .footer-links h3 {
  font-size: 1.125rem;
  font-family: "Oswald", serif;
  font-weight: 400;
  margin-bottom: 1.125rem;
}
.footer_menu .footer-links ul {
  padding: 0;
  list-style: none;
}
.footer_menu .footer-links ul li a {
  font-size: 14px;
  display: block;
  padding: 10px 0;
  transition: all 300ms ease;
}
.footer_menu .footer-links ul li a .icon {
  font-size: 16px;
  margin-right: 5px;
}
.footer_menu .footer-links ul li a:hover {
  color: #ff4500;
}
.footer_menu .footer-links ul li a:hover .icon {
  color: #ff4500;
}
.footer_menu .footer-links.social-media ul li a {
  padding: 9px 0;
}
.footer .copyright {
  padding-top: 2.5rem;
  border-top: 1px solid rgba(0, 31, 63, 0.07);
  text-align: center;
}
.footer .copyright p {
  font-size: 0.75rem;
  color: rgba(0, 31, 63, 0.6);
}
.footer .copyright p a:hover {
  color: #ff4500;
}/*# sourceMappingURL=style.css.map */