/* 01. all default and common styles */
body {
  margin: 0;
  padding: 0;

  font-size: 100%;
  line-height: 1.4;
  font-family: $font-main;

  display: flex;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $color-white;

  @media (min-width: 768px) {
    &.admin-bar {
      header {
        margin-top: 32px;
      }
    }
  }
  &.menu-extended {
    overflow: hidden;
  }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
div,
nav,
span,
header,
footer,
button,
article,
section {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: $color-gray;
  box-sizing: border-box;
}

h2 {
  font-size: clamp(2rem, 8vw, 2.75rem);
  text-transform: uppercase;
  font-family: $font-title;
  &.block_title {
    font-size: clamp(2rem, 8vw, 3rem);
  }
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-family: $font-alt;
}
h4 {
  color: $color-black;
  font-size: clamp(1.2rem, 2vw, 1.75rem);
}

h5 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-family: $font-alt;
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-family: $font-alt;
}

p {
  font-size: 1.125rem;

  + p {
    margin-top: 1rem;
  }
}

embed,
img {
  width: 100%;
  height: auto;
}

/* Secions */
.section-padding {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  &:nth-of-type(odd) {
    background-color: $color-offwhite;
  }
}

.section-title {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;

  p {
    margin-top: 1rem;
  }
}

/* all anchor tag with button link */
a {
  transition: all 300ms ease;
  text-decoration: none;

  &.active,
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.btn {
  @extend %button;
  &_group {
    margin-top: 1.5rem;
  }
}
