.events {
	&_wrapper {
		text-align: center;
		.latest_events {
			@extend %d-flex;
			gap: 30px;
			margin-bottom: 2.5rem;

			.event {
				&-details {
					width: 100%;
					min-height: 20rem;
					transition: all ease 300ms;
					position: relative;
					padding: 1.25rem;
					border-radius: 0.25rem;
					overflow: hidden;
					z-index: 1;
					padding-top: 86px;
					padding-bottom: 30px;
					display: flex;
					align-items: center;

					@media (min-width: 668.98px) {
						max-width: calc(50% - 15px);
					}
					@media (min-width: 1024.98px) {
						max-width: calc(33.33333% - 20px);
					}

					&:after {
						@include shadowLayer(0.75, -1);
					}

					&:hover {
						box-shadow: 0 0 16px 0 rgba($color-cosmic-blue, 0.25);
						&::after {
							opacity: 0.85;
						}
					}
				}

				&-banner {
					@include position-center-cover;
					z-index: -1;
					img {
						@include image-cover;
					}
				}

				&-date {
					background-color: $color-peach-cream;
					gap: 0.25rem;
					padding: 0.5rem 0.875rem;
					position: absolute;
					left: 1.125rem;
					top: 0;

					.event-month {
						font-size: 1.375rem;
						font-family: $font-alt;
					}

					.event-day {
						font-size: 3rem;
						font-family: $font-title;
						line-height: 1.1;
					}
				}

				&-content {
					.event-title {
						color: $color-white;
						font-family: $font-title;
						letter-spacing: 0.05rem;
						font-size: 1.75rem;
					}
					p {
						color: $color-peach-cream;
						padding-bottom: 0;
						padding-top: 1rem;

						display: -webkit-box;
						-webkit-box-orient: vertical;
						overflow: hidden;
						-webkit-line-clamp: 4;
						@media (min-width: 1024.98px) {
							padding: 1rem 2rem;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.content-block {
	@extend %content-block;
	padding: 4rem 0;
	.events_block {
		margin-bottom: 2.5rem;
	}

	.event {
		&-details {
			width: 100%;
			transition: all ease 300ms;
			position: relative;
			overflow: hidden;
			border-radius: 0.5rem;
			border: 1px solid rgba($color-cosmic-blue, 0.02);
			background-color: rgba($color-cosmic-blue, 0.02);

			@extend %d-flex;

			+ .event-details {
				margin-top: 2.25rem;
			}

			&:hover {
				.event-title {
					color: $color-orange-ember;
				}
			}
		}

		&-banner {
			display: none;
		}

		&-date {
			background-color: $color-peach-cream;
			@extend %flex-col-center;
			gap: 0.25rem;
			width: 7.5rem;

			@media (max-width: 575px) {
				width: 5.5rem;
			}

			.event-month {
				font-size: 1.375rem;
				font-family: $font-alt;
			}

			.event-day {
				font-size: 3rem;
				font-family: $font-title;
				line-height: 1.1;
			}
		}

		&-content {
			flex: 1;
			padding: 1rem;

			.event-title {
				font-family: $font-title;
				letter-spacing: 0.05rem;
				font-size: 1.75rem;
			}
			p {
				padding-bottom: 0;
				padding-top: 1rem;

				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				-webkit-line-clamp: 2;
			}
		}
	}
}
