/* 10. Footer styles */
#footer {
  background: #f6f8fc;
  padding-top: 120px;
  padding-bottom: 100px;
  margin-top: auto;
  .product-info {
    a {
      margin-bottom: 32px;
      display: block;
      &.logo {
        img {
          height: 33px;
          width: auto;
        }

        font-size: 32px;
        font-weight: 600;
        span {
          font-weight: 300;
        }

        svg {
          height: 46px;
          width: 200px;
        }
      }
    }

    p {
      font-size: 14px;
      color: #4d4d4d;
      max-width: 368px;
      margin-inline: 0;
      margin-bottom: 32px;
      line-height: 2;
    }
  }

  .footer-links {
    @media (max-width: 992.98px) {
      margin-bottom: 32px;
      padding-top: 30px;
      border-top: 1px solid #c5c6ca;
    }
    h3 {
      font-size: 18px;
      color: #000;
      font-weight: 600;
      margin-bottom: 32px;
    }
    ul {
      padding: 0;
      list-style: none;

      li {
        a {
          font-size: 14px;
          color: #4d4d4d;
          display: block;
          padding: 10px 0;
          transition: all 300ms ease;

          .icon {
            color: #000;
            font-size: 16px;
            margin-right: 5px;
          }

          &:hover {
            color: $color-gray;
            padding-left: 7px;
          }
        }
      }
    }
  }

  .copyright {
    padding-top: 40px;
    border-top: 1px solid #c5c6ca;
    text-align: center;

    p {
      font-size: 14px;
      color: #4d4d4d;
    }
  }
}
