/* 10. Footer styles */
.footer {
  background: rgba($color-pale-parchment, 0.6);
  padding-top: 100px;
  padding-bottom: 2.5rem;
  margin-top: auto;

  &_wrapper {
    @extend %d-flex;
    padding-bottom: 2.5rem;
    flex-direction: column;
    
    @media (min-width: 768.98px) {
      gap: 4rem;
      flex-direction: row;
    }
  }

  .product-info {
        
    @media (min-width: 768.98px) {
      flex: 1;
    }
    a {
      margin-bottom: 32px;
      display: block;
      &.logo {
        img {
          height: 33px;
          width: auto;
        }

        font-size: 32px;
        font-weight: 600;
        span {
          font-weight: 300;
        }

        svg {
          height: 46px;
          width: 200px;
        }
      }
    }

    p {
      font-size: 14px;
      max-width: 368px;
      margin-inline: 0;
      margin-bottom: 32px;
      line-height: 2;
    }
  }

  &_menu {
    @extend %d-flex;
    gap: 4rem;
        
    @media (max-width: 768px) {
      border-top: 1px solid rgba($color-gray, 0.12);
    }
    .footer-links {
      @media (max-width: 992.98px) {
        padding-top: 30px;
      }
      h3 {
        font-size: 1.125rem;
        font-family: $font-title;
        font-weight: 400;
        margin-bottom: 1.125rem;
      }
      ul {
        padding: 0;
        list-style: none;

        li {
          a {
            font-size: 14px;
            display: block;
            padding: 10px 0;
            transition: all 300ms ease;

            .icon {
              font-size: 16px;
              margin-right: 5px;
            }

            &:hover {
              color: $color-orange-ember;

              .icon {
                color: $color-orange-ember;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    padding-top: 2.5rem;
    border-top: 1px solid rgba($color-gray, 0.07);
    text-align: center;

    p {
      font-size: 0.75rem;
      color: rgba($color-gray, 0.6);
    }
  }
}
