/* 02. Navigation var styles */
nav {
    &.navbar {
        padding: 6px 0;
        background-color: transparent;
        position: relative;
        &::after {
            top: 0;
            left: 0;
            width: 100%;
            content: "";
            z-index: -1;
            height: 100%;
            position: absolute;
            background-color: rgba($white, 0.6);
            backdrop-filter: saturate(180%) blur(20px);
            transition: all 500ms ease !important;
            opacity: 0;
        }

        .navbar-brand {
            font-size: 30px;
            font-weight: 600;
            color: $secondary-color;
            span {
                font-weight: 300;
            }

            img {
                height: 50px;
                margin-top: -6px;
            }
        }

        &.sticky {
            left: 0;
            width: 100%;
            z-index: 9999;
            position: fixed;
            background: transparent;

            &::after {
                opacity: 1;
            }
        }

        .menu_group {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        // Navigation men
        .main_menu {
            .navBar {
                list-style: none;
                display: inline-block;
                vertical-align: middle;

                li {
                    position: relative;
                    display: inline-block;

                    a {
                        color: $text-color;
                        display: block;
                        font-size: 14px;
                        padding: 6px 10px;
                        transition: all ease 300ms;
                        text-transform: capitalize;
                        font-weight: 600;

                        &.active,
                        &:hover {
                            color: $secondary-color;
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: $secondary-color;
                        }
                    }

                    &:hover {
                        &::after {
                            color: $secondary-color;
                            transform: rotate(-90deg);
                        }
                        > a {
                            color: $secondary-color;
                        }
                    }
                }
            }

            .mobile_logo_closeButton {
                display: none;
            }
        }

        .user_menu {
            .user-nav {
                display: flex;
                gap: 10px;
                align-items: center;
                li {
                    display: inline;

                    .btn-mini {
                        padding: 6px 12px;
                        font-size: 14px;
                        border-radius: 3px;
                        background-color: $secondary-color;
                        color: $white;
                        position: relative;
                        overflow: hidden;
                        transition: all 200ms ease;
                        
                        &.bg_sec {
                            background-color: $primary-color;
                        }

                        &:hover {
                            background-color: $text-color;
                        }

                       
                        span {
                            &.user_avatar {
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;

                                img {
                                    height: 100%;
                                    width: auto;
                                }
                            }
                            &.btn_text {
                                padding-left: 30px;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }

        // Mobile menu toggler button
        .navbar-toggler {
            right: 10px;
            width: 46px;
            height: 42px;
            display: none;
            padding: 5px 7px;
            position: absolute;
            align-items: center;
            grid-template-rows: 1fr 1fr 1fr;
            border: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            span {
                &.bar {
                    height: 4px;
                    width: 100%;
                    border-radius: 3px;
                    background: $secondary-color;
                }
            }
        }

        /* Medium devices (tablets, 992px and up) */
        @media (max-width: 992px) {
            // mobile responsive menu
            .navbar-toggler {
                display: grid;
            }
            .main_menu {
                // right: 0;
                // opacity: 1;
                right: -110%;
                opacity: 0;

                top: 0;
                width: 375px;
                padding: 30px;
                height: 100vh;
                z-index: 9999;
                position: fixed;
                background-color: #333;
                overflow-x: hidden;
                overflow-y: scroll;
                transition: all 500ms ease;
                // Chrome & Opera
                &::-webkit-scrollbar {
                    width: 7px !important;
                    height: 45px !important;

                    &-track {
                        background-color: transparent !important;
                    }

                    &-thumb {
                        background-color: #4e4e4e !important;
                    }

                    &-track,
                    &-thumb {
                        border-radius: 12px !important;
                    }
                }

                // Firefox
                scrollbar-width: thin !important;
                scrollbar-color: #4e4e4e transparent !important;
                &.open_menu {
                    right: 0;
                    opacity: 1;
                }

                .mobile_logo_closeButton {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    margin-bottom: 15px;
                    .logo {
                        img {
                            width: 100%;
                        }
                        a {
                            font-size: 32px;
                            color: $white;
                            span {
                                color: $white;
                                font-weight: 300;
                            }
                        }
                    }
                    .close_menu {
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                        overflow: hidden;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        outline: none;
                        transform: rotate(45deg);
                        transition: all 0.3s ease;
                        position: relative;
                        background: transparent;
                        padding: 0 !important;
                        &::after,
                        &::before {
                            left: 50%;
                            top: 50%;
                            width: 2px;
                            content: "";
                            height: 70%;
                            position: absolute;
                            border-radius: 3px;
                            background: #ffffff;
                            transform: translate(-50%, -50%);
                        }

                        &::after {
                            height: 2px;
                            width: 70%;
                        }
                        &:focus {
                            border: 1px solid #fff;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
                .navBar {
                    display: flex !important;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;

                    li {
                        display: block !important;
                        position: relative;
                        padding: 8px 0;
                        width: 100%;
                        border-bottom: 0.3px solid #5e5e5e;
                        &:last-child {
                            border: none;
                        }
                        &:hover {
                            > a {
                                background-color: #11103a;
                                color: $white !important;
                            }
                        }
                        &::after {
                            color: $white;
                        }
                        a {
                            color: $white;
                            padding: 8px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
