.single {
	.banner-content {
		@extend %content-block;
	}
}

.post {
	&-wrapper {
		position: relative;
		padding: 4rem 0;
	}
	&-content {
		@extend %content-block;
	}
}

.pagination {
	@extend %d-flex;
	gap: 0.5rem;
	padding: 0.75rem 0;

	a,
	span {
		padding: 0.25rem;
		padding-bottom: 0;
		position: relative;

		font-weight: 500;
		color: $color-ocean-blue;
		&::after {
			@include animate-line;
			height: 2px;
			background: $color-ocean-blue;
		}

		&:hover,
		&[aria-current="page"] {
			color: $color-orange-ember;
			&::after {
				@include animate-line-hover;
				background-color: $color-orange-ember;
			}
		}
	}
}

.page_info {
	padding-top: 2rem;
	padding-bottom: 4rem;

	p {
		font-family: $font-alt;
		font-size: 1.25rem;

		a {
			font-weight: 500;
			color: rgba($color-cosmic-blue, 0.65);
			&:hover {
				color: $color-orange-ember;
			}
		}
	}
}

/*
* 04. Professor post type
*/
.profile-img {
	width: 100%;
	float: left;
	margin-bottom: 1.5rem;
	@media (min-width: 575.98px) {
		max-width: 14rem;
		width: 100%;
		float: left;
		margin-right: 3rem;
		margin-bottom: 1.5rem;
	}
	@media (min-width: 768.98px) {
		max-width: 22rem;
	}
}
.like-box {
	display: inline-block;
	padding: 6px 16px;
	background-color: #f6f6f7;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	box-shadow: -4px 4px 14px 0px rgba($color-black, 0.014);
	cursor: pointer;

	&[data-exists="yes"] {
		.icon {
			&.icon-thumbs-up-alt {
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
			&.icon-thumbs-up {
				display: none;
			}
		}
	}

	.icon {
		color: $color-cosmic-blue;
		&.icon-thumbs-up-alt {
			display: none;
		}
	}

	.like-count {
		color: $color-cosmic-blue;
		margin-left: 4px;
		font-weight: 600;
	}
}
