/* 09. Contact style */
.search_overlay {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba($color-white, 0.99);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 300ms ease;
  transform: scale(1.09);

  visibility: hidden;
  opacity: 0;
  z-index: 0;

  &.show-box {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }

  .search_box {
    background-color: rgba($color-cosmic-blue, 0.05);

    .field_group {
      position: relative;
      height: 80px;
      display: flex;

      .search_icon {
        justify-content: flex-start;
        aspect-ratio: 1;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
          width: 30px;
        }

        svg {
          width: 2.5rem;
          height: 2.5rem;
          transform: rotate(90deg);
          @media (max-width: 768px) {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .search-hide {
        cursor: pointer;
        justify-content: flex-start;
        aspect-ratio: 1;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
          width: 30px;
        }

        svg {
          width: 2.5rem;
          height: 2.5rem;

          @media (max-width: 768px) {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      input {
        &.search_input {
          // position: relative;
          width: 100%;
          height: 100%;
          border: 0;
          background-color: transparent;
          font-size: clamp(1.5rem, 3.4vw, 2.5rem);

          &:focus,
          &:focus-visible {
            border: 0;
            outline: none;
          }
          &::placeholder {
            color: rgba($color-black, 0.2);
          }
        }
      }
    }
  }
}

#search__results {
  padding-top: 48px;
  padding-bottom: 48px;
  @extend %d-flex;

  .result_block {
    width: 100%;
    @media (min-width: 1024px) {
      max-width: calc(33.33333333% - 12px);
    }

    .event {
      &-details {
        width: 100%;
        transition: all ease 300ms;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid rgba($color-cosmic-blue, 0.02);
        background-color: rgba($color-cosmic-blue, 0.02);
        margin-top: 2.25rem;
        padding: 0;

        @extend %d-flex;

        &:hover {
          .event-title {
            color: $color-orange-ember;
          }
        }
      }

      &-date {
        background-color: $color-peach-cream;
        @extend %flex-col-center;
        gap: 0.25rem;
        width: 5.5rem;

        .event-month {
          font-size: 1.375rem;
          font-family: $font-alt;
        }

        .event-day {
          font-size: 2.25rem;
          font-family: $font-title;
          line-height: 1.1;
        }
      }

      &-content {
        flex: 1;
        padding: 0.75rem;
        padding-top: 0.65rem;
        padding-left: 0;

        .event-title {
          font-family: $font-title;
          letter-spacing: 0.05rem;
          font-size: 1.25rem;
        }
        p {
          padding-bottom: 0;
          padding-top: 0.75rem;
          margin-bottom: 0;
          font-size: 1rem;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  h2 {
    padding-bottom: 0px;
    border-bottom: 1px solid rgba($color-cosmic-blue, 0.1);
    font-size: clamp(1.5rem, 3vw, 1.875rem);
  }

  .icon-spin6 {
    display: inline-block;
    font-size: clamp(1.5rem, 3.4vw, 2.25rem);
    animation: spinner 1s linear infinite;
  }

  p {
    margin-bottom: 30px;
  }

  .user-profile {
    width: 200px;
    p {
      margin-bottom: 0;
    }
  }

  .search-result__list {
    list-style: none;
    margin-bottom: 30px;
    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba($color-cosmic-blue, 0.05);
      font-size: clamp(1.25rem, 2vw, 1.5rem);
      font-weight: 300;
      font-family: $font-alt;
      a {
        font-size: inherit;
        transition: all 200ms ease;
        font-weight: 400;
        &:hover {
          color: $color-orange-ember;
        }
      }
      > span {
        font-size: 1rem;
      }
    }

  }
}
