// fonts variables

$font-main: "Satoshi", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// $font-main: "Nunito Sans", serif;
$font-title: "Oswald", serif;
$font-alt: "Poppins", serif;

// Color variables
$color-black: #000000;
$color-white: #ffffff;
$color-offwhite: #fdfdfd;
$color-gray: #141c3a;
$color-royal-blue: #0041a9;
$color-sky-blue: #33c2ec;
$color-deep-blue: #000821;
$color-dark-blue: #081336;
$color-blue: #05b2fc;
$color-yellow: #fae000;

$color-pale-parchment: #f8f9f1;
$color-peach-cream: #fff5ee;
$color-soft-aqua: #d1e8e4;
$color-sunshine-yellow: #f1c40f;
$color-orange-ember: #ff4500;
$color-true-blue: #007bff;
$color-ocean-depths: #005b99;
$color-midnight-navy: #003366;
$color-cosmic-blue: #001f3f;
