/*
* Author          : AHM Yousuf Niran
* Version         : 1.1.1
* Url             : http://niranyousuf.me/
*/

// variables
$black: #000000;
$white: #ffffff;
$base-color: #ee5913;
$text-color: #141c3a;
$primary-color: #1f6e8c;
$secondary-color: #0041a9;

$miriam-libre: "Miriam Libre", sans-serif;
$ubuntu-font: "Ubuntu", sans-serif;

// pages
@import "./_default.scss";
@import "./_icon.scss";
@import "./_nav.scss";
@import "./_banner.scss";
@import "./_latest.scss";
@import "./_about.scss";
@import "./_testimonials.scss";
@import "./_content.scss";
@import "./_footer.scss";
