/*
* Author          : A.H.M. Yousuf Niran
* Version         : 1.1
* Url             : http://niranyousuf.me/
*/


// variables
$dark: #000000;
$white: #ffffff;
$bright: #ffffff;
$base-color: #fdda91;
$text-color: #141c3a;
$primary-color: #19B6F6;
$secondary-color: #6371c5;
$miriam-libre: 'Miriam Libre', sans-serif;
$ubuntu-font:  'Ubuntu', sans-serif;

// pages
@import "./custom/_default.scss";
@import "./custom/_icon.scss";
@import "./custom/_nav.scss";
@import "./custom/_banner.scss";
@import "./custom/_latest.scss";
@import "./custom/_testimonials.scss";
@import "./custom/_content.scss";
@import "./custom/_footer.scss";

/* SASS and Global'ish Stuff */
@import "base/variables";
@import "base/baseline";
@import "base/utility-classes";

/* BEM Blocks */
@import "modules/shame";
@import "modules/login";
@import "modules/btn";
@import "modules/my-notes";
@import "modules/site-header";
@import "modules/site-footer";
@import "modules/main-navigation";
@import "modules/page-banner";
@import "modules/hero-slider";
@import "modules/search-overlay";
@import "modules/professor-card";
@import "modules/headline";
@import "modules/generic-content";
@import "modules/full-width-split";
@import "modules/event-summary";
@import "modules/page-links";
@import "modules/acf-map";
@import "modules/link-list";
@import "modules/metabox";
@import "modules/post-item";