/*
* Author          : AHM Yousuf Niran
* Version         : 1.1.1
* Url             : http://niranyousuf.me/
*/

// variables
$dark: #000000;
$white: #ffffff;
$secondary-color: #0041a9;
$text-color: #141c3a;
$primary-color: #1f6e8c;
$base-color: #ee5913;

$miriam-libre: "Miriam Libre", sans-serif;
$ubuntu-font: "Ubuntu", sans-serif;

// pages
@import "./custom/_default.scss";
@import "./custom/_icon.scss";
@import "./custom/_nav.scss";
@import "./custom/_banner.scss";
@import "./custom/_latest.scss";
@import "./custom/_testimonials.scss";
@import "./custom/_content.scss";
@import "./custom/_footer.scss";
