/* 03. Hero section style */
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 132px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba($white, 0.6);
    }

    @media (max-width: 1191px) {
        padding: 190px 0px 150px;
    }

    @media (max-width: 767px) {
        padding: 160px 0px 100px;
    }

    .hero-content {
        text-align: center;
        max-width: 880px;
        margin: 0 auto;
        padding: 50px 0;
        position: relative;
        z-index: 1;
    }

    h1 {
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 40px;
        letter-spacing: -0.045em;
        font-size: clamp(2.2rem, 4.6875vw, 4rem); // 90px - 40px
        font-family: $miriam-libre;
    }

    p {
        margin-bottom: 40px;
        font-size: 22px;
    }
}

// single page banner
.page-banner {
    min-height: 336px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba($white, 0.6);
    }

    .banner-content {
        position: relative;
        z-index: 1;
        margin-top: 80px;
        h2 {
            margin-bottom: 24px;
            font-size: clamp(2.25rem, 8vw, 3.5rem);
        }

        p {
            max-width: 750px;
            font-size: 22px;
        }
    }
}

.error404 {
    .page-banner {
        height: 100vh;
        width: 100vw;

        .banner-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: clamp(2.2rem, 11vw, 6.5rem);
                font-weight: 700;
            }
        }
    }
    #footer {
        display: none;
    }
}
