/* 03. Hero section style */
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 132px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (max-width: 1191px) {
        padding: 190px 0px 150px;
    }

    @media (max-width: 767px) {
        padding: 160px 0px 100px;
    }

    .hero-content {
        text-align: center;
        max-width: 880px;
        margin: 0 auto;
        padding: 50px 0;
    }

    h1 {
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 40px;
        letter-spacing: -0.045em;
        font-size: clamp(2.2rem, 4.6875vw, 4rem); // 90px - 40px
        font-family: $miriam-libre;
    }

    p {
        margin-bottom: 40px;
        font-size: 22px;
    }
}


// single page banner 
.page-banner {
    min-height: 400px;
    display: flex;
    align-items: center;

    .banner-content {
        h2 {
            margin-bottom: 24px;
        }

        p {
            max-width: 750px;
        }
    }
}