/* 08. Blog page and blog section style */
.page-content__content {
    padding: 80px 0;
    position: relative;

    .page_links {
        position: relative;
        z-index: 1;
        background-color: #f6f8fc;
        margin: 0 0 40px 0;

        @media (min-width: 767px) {
            margin: 0 0 40px 20px;
            width: 300px;
            float: right;
        }

        .page__title {
            margin: 0;
            font-weight: normal;
            text-align: center;
            padding: 20px 0;
            background-color: #0d3b66;
            color: $white;
            font-size: 24px;
            a {
                color: $white;
                text-decoration: none;
                background-color: #0d3b66;
            }
        }

        .min_list {
            margin: 0;
            padding: 0;

            .page_item {
                transition: all 200ms ease;
                a {
                    display: block;
                    color: $dark;
                }
                &:hover {
                    background-color: #e9ecf7;
                }
            }
        }
    }
    > li {
        border-top: 1px solid #e1e1e1;
        &:first-child {
            border-top: none;
        }
        &.current_page_item {
            text-align: center;
            background-color: #e9ecf7;
            color: $secondary-color;
            a {
                font-weight: 600;
            }
        }
        display: block;
        text-align: center;
        padding: 17px 10px;
        text-decoration: none;
        color: #0d3b66;
        transition: all 0.3s;
    }
    .generic-content {
        p,
        li {
            font-size: 1.15rem;
            text-align: inherit;
            border: 0;
        }

        ul {
            padding-left: 32px;
            li {
                list-style: circle;
                padding: 5px 0;
            }
        }
    }
}

.metabox {
    background-color: #f6f8fc;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 30px;
    box-shadow: 2px 0px 5px rgba($dark, 0.04);

    p {
        a {
            font-weight: 500;
            text-transform: capitalize;
        }
    }

    &.meta_bradcumb {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        padding: 0;

        > span {
            padding-left: 8px;
            padding-right: 12px;

            a {
                text-transform: capitalize;
            }
        }

        .back_to_prev_page {
            background-color: #0d3b66;
            color: $white;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 3px 0 0 3px;
            font-weight: normal;

            .icon {
                color: $white;
            }
        }
        .current_page {
            padding: 10px 15px 10px 11px;
            color: $secondary-color;
        }
    }
}

// Post page style
.post-page {
    padding: 80px 0;
    .blog-page__singlle-post {
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid rgba($dark, 0.03);

        .post__content {
            .btn {
                margin-top: 20px;
            }
        }
    }

    .pagination {
        gap: 5px;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }



    .latest-details {
        position: relative;
        padding-left: 130px;
        margin-bottom: 24px;

        .latest-date {
            left: 0;
            font-size: 28px;
            font-weight: 500;
            padding: 12px 22px;
            border-radius: 4px;
            position: absolute;
            background-color: rgba($base-color, 0.2);

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            > span {
                line-height: 1;

                &.latest-month {
                    font-weight: 300;
                    margin-bottom: 5px;
                }
                &.latest-day {
                    font-weight: 500;
                }
            }
        }

        .latest-content {
            h5 {
                > a {
                    font-weight: 600;
                }
            }
        }
    }
}
