/* 01. all default and common styles */
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: $ubuntu-font;
    font-weight: 400;
    background-color: $white;
    line-height: 1.4;

    @media (min-width: 768px) {
        &.admin-bar {
            header {
                margin-top: 32px;
            }
        }
    }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
div,
span,
header,
footer,
button,
article,
section {
    margin: 0;
    padding: 0;
    color: $text-color;
}

h2 {
    font-size: clamp(2rem, 8vw, 2.75rem);
    margin-bottom: 24px;
    font-family: $miriam-libre;
    
    &.block_title {
        font-size: clamp(2rem, 8vw, 3rem);
    }
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: normal;
    margin-bottom: 22px;
}

h4 {
    color: $dark;
    font-size: clamp(1.2rem, 2vw, 1.75rem);
    line-height: normal;
    margin-bottom: 15px;
}

h5 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-bottom: 10px;
    font-family: $miriam-libre;
}

h6 {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

ul,
ol,
li {
    list-style: none;
}
embed,
img {
    width: 100%;
}

.semi-bold {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

/* Secions */
.section-padding {
    padding-top: 100px;
    padding-bottom: 70px;

    &:nth-of-type(odd) {
        background: rgba(#fafafa, 0.3);
    }
}

.section-title {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;

    p {
        margin-bottom: 36px;
    }
}
.max_container {
    max-width: 960px;
    margin: 0 auto;
}

/* all anchor tag with button link */
a {
    font-weight: 400;
    transition: all 300ms ease;
    text-decoration: none;
    color: $secondary-color;

    &.active,
    &:hover {
        color: $text-color;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &.btn {
        color: $white;
        min-width: 210px;
        font-size: 22px;
        padding: 10px 25px;
        border-radius: 3px;
        margin-bottom: 20px;
        transition: all 300ms ease;
        border: 1px solid $base-color;
        background-color: $base-color;
        position: relative;

        &:focus,
        &:hover {
            box-shadow: none;
            text-decoration: none;
            background-color: $base-color;
            border: 1px solid $base-color;
            color: $white;
        }

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            position: absolute;
            border-radius: 3px;
            animation-duration: 1000ms;
            border: $base-color solid 1px;
        }

        &:hover:before,
        &:focus:before,
        &:active:before {
            -webkit-animation-name: hvr-ripple-out;
            animation-name: hvr-ripple-out;
        }
    }

    &.btn-outline {
        font-size: 22px;
        border-radius: 3px;
        padding: 10px 25px;
        margin-bottom: 20px;
        color: $base-color;
        background: transparent;
        transition: all 300ms ease;
        border: 1px solid $base-color;
    }

    &.btn-small {
        color: $white;
        font-size: 18px;
        padding: 8px 20px;
        border-radius: 3px;
        margin-bottom: 20px;
        transition: all 300ms ease;
        border: 1px solid $base-color;
        background-color: $base-color;
    }
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}
@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}
