.news-and-events {
    position: relative;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    @media (min-width: 1920px) {
        background-size: cover;
    }

    .latest {
        margin: 0 auto;
        position: relative;

        @media (max-width: 768.98px) {
            margin-bottom: 60px;
        }

        h3 {
            
            max-width: 550px;
            margin: 0 auto;
            margin-bottom: 42px;
        }

        .latest-details {
            position: relative;
            max-width: 550px;
            margin: 0 auto;
            padding-left: 130px;
            margin-bottom: 24px;

            .latest-date {
                left: 0;
                font-size: 28px;
                font-weight: 500;
                padding: 12px 22px;
                border-radius: 4px;
                position: absolute;
                background-color: rgba($base-color, 0.2);

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                > span {
                    line-height: 1;

                    &.latest-month {
                        font-weight: 300;
                        margin-bottom: 5px;
                    }
                    &.latest-day {
                        font-weight: 500;
                    }
                }
            }

            .latest-content {
                h5 {
                    > a {
                        font-weight: 600;
                    }
                }
            }
        }

        &.latest-news {
            position: relative;

            .latest-details {
                .latest-date {
                    background-color: rgba($primary-color, 0.2);
                }
            }
        }
    }
}
